##### **Aloitetaan tutkimalla ja puhdistamalla dataa(Esikäsittely - Preprocess)**
- Ladataan kaikki tarvittavat tiedosdot
- Määritetään nille polut jossa datasetit sijaitsee
- Teen funktion joka tulostaa **Shape, Columns, Info, datainfo, Summary, describe, null values, duplicates, missing values, duplicated rows**
- Kirjoitan koodin viereen välillä pieni info joka vois helpottaa ihmisiä lukemaan ja ymmärtämään paremmin

In [2]:
#Lataa tarvittavat kirjastot tähään soluun päivitä lopuksi tätä solua
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os # käytetään tiedostojen käsittelyyn ja hakemistojen hallintaan
from IPython.core.interactiveshell import InteractiveShell # tulostaa useamman tulosteen yhdellä kertaa 
InteractiveShell.ast_node_interactivity="all"
from datetime import datetime # aikaleimojen käsittelyyn 
import calendar # kalenterin käsittelyyn
import warnings # poistaa varoitusilmoitukset 
warnings.filterwarnings("ignore")

In [3]:
path = "/Users/emre/Desktop/ai_da_jamk/currentai/data/raw" # määritetään polku, jossa data sijaitsee 
contents = os.listdir(path)
print(f"Contents of '{path}': {contents}") # tulostetaan hakemiston tiedostot

Contents of '/Users/emre/Desktop/ai_da_jamk/currentai/data/raw': ['halfhourly_dataset', 'hhblock_dataset', 'daily_data.csv', 'darksky_parameters_documentation.html', 'acorn_details.csv', 'uk_bank_holidays.csv', 'daily_dataset', 'weather_daily_darksky.csv', 'informations_households.csv', 'daily_dataset.csv', 'halfhourly_data.csv', 'weather_hourly_darksky.csv', 'hhblock_data.csv']

In [4]:
BASE_DIR = '/Users/emre/Desktop/ai_da_jamk/currentai/data/raw'

files = {
    'household_info': os.path.join(BASE_DIR, 'informations_households.csv'),
    'acorn_details': os.path.join(BASE_DIR, 'acorn_details.csv'),
    'uk_bank_holidays': os.path.join(BASE_DIR, 'uk_bank_holidays.csv'),
    'weather_daily': os.path.join(BASE_DIR, 'weather_daily_darksky.csv'),
    'weather_hourly': os.path.join(BASE_DIR, 'weather_hourly_darksky.csv'),
    'daily_dataset': os.path.join(BASE_DIR, 'daily_dataset.csv')
}

DAILY_DIR = os.path.join(BASE_DIR, 'daily_dataset') # määritetään polku päivittäiselle datasetille
HALFHOURLY_DIR = os.path.join(BASE_DIR, 'halfhourly_dataset') # määritetään polku puolen tunnin datasetille
HHBLOCK_DIR = os.path.join(BASE_DIR, 'hhblock_dataset') # määritetään polku hhblock datasetille

In [5]:
# funktio, joka lataa ja tulostaa datasetin tiedot 
def summarize_dataset(file_path, dataset_name):
    print(f"--- {dataset_name.upper()} ---")
    try:
        data = pd.read_csv(file_path, encoding='latin1')
        print(f"Shape: {data.shape}")
        print(f"Columns: {list(data.columns)}")
        print(f"Info:")
        print(data.info())
        print(f"Summary:")
        print(data.describe(include='all'))
        
        missing = data.isnull().sum()
        duplicates = data.duplicated().sum()
        print(f"Missing values per column:\n{missing}")
        print(f"Number of duplicate rows: {duplicates}")
        return data
    except Exception as e:
        print(f"Error reading {dataset_name}: {e}")

datasets = {}
for name, path in files.items():
    datasets[name] = summarize_dataset(path, name)

--- HOUSEHOLD_INFO ---
Shape: (5566, 5)
Columns: ['LCLid', 'stdorToU', 'Acorn', 'Acorn_grouped', 'file']
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5566 entries, 0 to 5565
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   LCLid          5566 non-null   object
 1   stdorToU       5566 non-null   object
 2   Acorn          5566 non-null   object
 3   Acorn_grouped  5566 non-null   object
 4   file           5566 non-null   object
dtypes: object(5)
memory usage: 217.5+ KB
None
Summary:
            LCLid stdorToU    Acorn Acorn_grouped     file
count        5566     5566     5566          5566     5566
unique       5566        2       19             5      112
top     MAC005492      Std  ACORN-E      Affluent  block_0
freq            1     4443     1567          2192       50
Missing values per column:
LCLid            0
stdorToU         0
Acorn            0
Acorn_grouped    0
file             0
dtype: int64
Number of duplicate rows: 0
--- ACORN_DETAILS ---
Shape: (826, 20)
Columns: ['MAIN CATEGORIES', 'CATEGORIES', 'REFERENCE', 'ACORN-A', 'ACORN-B', 'ACORN-C', 'ACORN-D', 'ACORN-E', 'ACORN-F', 'ACORN-G', 'ACORN-H', 'ACORN-I', 'ACORN-J', 'ACORN-K', 'ACORN-L', 'ACORN-M', 'ACORN-N', 'ACORN-O', 'ACORN-P', 'ACORN-Q']
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 826 entries, 0 to 825
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MAIN CATEGORIES  826 non-null    object
 1   CATEGORIES       826 non-null    object
 2   REFERENCE        825 non-null    object
 3   ACORN-A          826 non-null    float64
 4   ACORN-B          826 non-null    float64
 5   ACORN-C          826 non-null    float64
 6   ACORN-D          826 non-null    float64
 7   ACORN-E          826 non-null    float64
 8   ACORN-F          826 non-null    float64
 9   ACORN-G          826 non-null    float64
 10  ACORN-H          826 non-null    float64
 11  ACORN-I          826 non-null    float64
 12  ACORN-J          826 non-null    float64
 13  ACORN-K          826 non-null    float64
 14  ACORN-L          826 non-null    float64
 15  ACORN-M          826 non-null    float64
 16  ACORN-N          826 non-null    float64
 17  ACORN-O          826 non-null    float64
 18  ACORN-P          826 non-null    float64
 19  ACORN-Q          826 non-null    float64
dtypes: float64(17), object(3)
memory usage: 129.2+ KB
None
Summary:
       MAIN CATEGORIES               CATEGORIES    REFERENCE      ACORN-A  \
count              826                      826          825   826.000000
unique              15                       84          631          NaN
top            DIGITAL  Sites regularly visited  Mass Market          NaN
freq               372                       85            8          NaN
mean               NaN                      NaN          NaN   131.313495
std                NaN                      NaN          NaN   201.448212
min                NaN                      NaN          NaN    12.000000
25%                NaN                      NaN          NaN    87.000000
50%                NaN                      NaN          NaN   104.000000
75%                NaN                      NaN          NaN   128.000000
max                NaN                      NaN          NaN  3795.000000

           ACORN-B     ACORN-C      ACORN-D     ACORN-E     ACORN-F  \
count   826.000000  826.000000   826.000000  826.000000  826.000000
unique         NaN         NaN          NaN         NaN         NaN
top            NaN         NaN          NaN         NaN         NaN
freq           NaN         NaN          NaN         NaN         NaN
mean    110.860256  100.080789   136.857507  117.894757   95.574535
std      42.464050   30.099529    97.740794   35.768807   33.636661
min       0.957011    0.281968     2.000000   21.000000    0.000000
25%      94.000000   86.000000    93.092150   99.000000   81.000000
50%     107.000000  100.000000   121.000000  117.000000   98.000000
75%     122.000000  113.000000   154.000000  135.000000  108.000000
max     419.000000  272.000000  1159.034650  286.000000  462.000000

           ACORN-G     ACORN-H     ACORN-I     ACORN-J      ACORN-K  \
count   826.000000  826.000000  826.000000  826.000000   826.000000
unique         NaN         NaN         NaN         NaN          NaN
top            NaN         NaN         NaN         NaN          NaN
freq           NaN         NaN         NaN         NaN          NaN
mean    101.444276   97.298915   87.028545  104.216563   127.482911
std      21.798994   18.229234   30.337794   19.924033    97.428159
min       0.791419    1.155448    6.363259   16.050708    17.000000
25%      94.138076   91.000000   70.000000   97.000000    85.000000
50%     102.000000   99.000000   88.000000  105.000000   109.000000
75%     109.000000  105.000000  101.750000  115.000000   144.000000
max     295.000000  192.000000  410.000000  197.000000  1821.000000

           ACORN-L     ACORN-M     ACORN-N     ACORN-O     ACORN-P     ACORN-Q
count   826.000000  826.000000  826.000000  826.000000  826.000000  826.000000
unique         NaN         NaN         NaN         NaN         NaN         NaN
top            NaN         NaN         NaN         NaN         NaN         NaN
freq           NaN         NaN         NaN         NaN         NaN         NaN
mean     93.724209   91.410277   79.912379   95.579335  100.141309   90.855423
std      22.177041   22.909602   33.995192   25.935770   37.210288   37.634017
min       0.393546    0.714857    2.000000   11.000000    9.000000    1.000000
25%      86.000000   82.000000   60.253502   86.000000   82.250000   71.250000
50%      95.000000   93.000000   74.000000   96.000000   96.000000   87.000000
75%     102.000000  101.000000   93.158386  104.000000  109.000000  101.000000
max     280.000000  161.000000  295.000000  252.000000  389.000000  326.000000
Missing values per column:
MAIN CATEGORIES    0
CATEGORIES         0
REFERENCE          1
ACORN-A            0
ACORN-B            0
ACORN-C            0
ACORN-D            0
ACORN-E            0
ACORN-F            0
ACORN-G            0
ACORN-H            0
ACORN-I            0
ACORN-J            0
ACORN-K            0
ACORN-L            0
ACORN-M            0
ACORN-N            0
ACORN-O            0
ACORN-P            0
ACORN-Q            0
dtype: int64
Number of duplicate rows: 0
--- UK_BANK_HOLIDAYS ---
Shape: (25, 2)
Columns: ['Bank holidays', 'Type']
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Bank holidays  25 non-null     object
 1   Type           25 non-null     object
dtypes: object(2)
memory usage: 528.0+ bytes
None
Summary:
       Bank holidays        Type
count             25          25
unique            25          11
top       2012-12-26  Boxing Day
freq               1           3
Missing values per column:
Bank holidays    0
Type             0
dtype: int64
Number of duplicate rows: 0
--- WEATHER_DAILY ---
Shape: (882, 32)
Columns: ['temperatureMax', 'temperatureMaxTime', 'windBearing', 'icon', 'dewPoint', 'temperatureMinTime', 'cloudCover', 'windSpeed', 'pressure', 'apparentTemperatureMinTime', 'apparentTemperatureHigh', 'precipType', 'visibility', 'humidity', 'apparentTemperatureHighTime', 'apparentTemperatureLow', 'apparentTemperatureMax', 'uvIndex', 'time', 'sunsetTime', 'temperatureLow', 'temperatureMin', 'temperatureHigh', 'sunriseTime', 'temperatureHighTime', 'uvIndexTime', 'summary', 'temperatureLowTime', 'apparentTemperatureMin', 'apparentTemperatureMaxTime', 'apparentTemperatureLowTime', 'moonPhase']
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 882 entries, 0 to 881
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   temperatureMax               882 non-null    float64
 1   temperatureMaxTime           882 non-null    object
 2   windBearing                  882 non-null    int64
 3   icon                         882 non-null    object
 4   dewPoint                     882 non-null    float64
 5   temperatureMinTime           882 non-null    object
 6   cloudCover                   881 non-null    float64
 7   windSpeed                    882 non-null    float64
 8   pressure                     882 non-null    float64
 9   apparentTemperatureMinTime   882 non-null    object
 10  apparentTemperatureHigh      882 non-null    float64
 11  precipType                   882 non-null    object
 12  visibility                   882 non-null    float64
 13  humidity                     882 non-null    float64
 14  apparentTemperatureHighTime  882 non-null    object
 15  apparentTemperatureLow       882 non-null    float64
 16  apparentTemperatureMax       882 non-null    float64
 17  uvIndex                      881 non-null    float64
 18  time                         882 non-null    object
 19  sunsetTime                   882 non-null    object
 20  temperatureLow               882 non-null    float64
 21  temperatureMin               882 non-null    float64
 22  temperatureHigh              882 non-null    float64
 23  sunriseTime                  882 non-null    object
 24  temperatureHighTime          882 non-null    object
 25  uvIndexTime                  881 non-null    object
 26  summary                      882 non-null    object
 27  temperatureLowTime           882 non-null    object
 28  apparentTemperatureMin       882 non-null    float64
 29  apparentTemperatureMaxTime   882 non-null    object
 30  apparentTemperatureLowTime   882 non-null    object
 31  moonPhase                    882 non-null    float64
dtypes: float64(16), int64(1), object(15)
memory usage: 220.6+ KB
None
Summary:
        temperatureMax   temperatureMaxTime  windBearing               icon  \
count       882.000000                  882   882.000000                882
unique             NaN                  882          NaN                  6
top                NaN  2011-11-11 23:00:00          NaN  partly-cloudy-day
freq               NaN                    1          NaN                619
mean         13.660113                  NaN   195.702948                NaN
std           6.182744                  NaN    89.340783                NaN
min          -0.060000                  NaN     0.000000                NaN
25%           9.502500                  NaN   120.500000                NaN
50%          12.625000                  NaN   219.000000                NaN
75%          17.920000                  NaN   255.000000                NaN
max          32.400000                  NaN   359.000000                NaN

          dewPoint   temperatureMinTime  cloudCover   windSpeed     pressure  \
count   882.000000                  882  881.000000  882.000000   882.000000
unique         NaN                  882         NaN         NaN          NaN
top            NaN  2011-11-11 07:00:00         NaN         NaN          NaN
freq           NaN                    1         NaN         NaN          NaN
mean      6.530034                  NaN    0.477605    3.581803  1014.127540
std       4.830875                  NaN    0.193514    1.694007    11.073038
min      -7.840000                  NaN    0.000000    0.200000   979.250000
25%       3.180000                  NaN    0.350000    2.370000  1007.435000
50%       6.380000                  NaN    0.470000    3.440000  1014.615000
75%      10.057500                  NaN    0.600000    4.577500  1021.755000
max      17.770000                  NaN    1.000000    9.960000  1040.920000

       apparentTemperatureMinTime  ...  temperatureHigh          sunriseTime  \
count                         882  ...       882.000000                  882
unique                        882  ...              NaN                  882
top           2011-11-11 07:00:00  ...              NaN  2011-11-11 07:12:14
freq                            1  ...              NaN                    1
mean                          NaN  ...        13.542392                  NaN
std                           NaN  ...         6.260196                  NaN
min                           NaN  ...        -0.810000                  NaN
25%                           NaN  ...         9.212500                  NaN
50%                           NaN  ...        12.470000                  NaN
75%                           NaN  ...        17.910000                  NaN
max                           NaN  ...        32.400000                  NaN

        temperatureHighTime          uvIndexTime  \
count                   882                  881
unique                  882                  881
top     2011-11-11 19:00:00  2011-11-11 11:00:00
freq                      1                    1
mean                    NaN                  NaN
std                     NaN                  NaN
min                     NaN                  NaN
25%                     NaN                  NaN
50%                     NaN                  NaN
75%                     NaN                  NaN
max                     NaN                  NaN

                                  summary   temperatureLowTime  \
count                                 882                  882
unique                                 88                  882
top     Mostly cloudy throughout the day.  2011-11-11 19:00:00
freq                                  174                    1
mean                                  NaN                  NaN
std                                   NaN                  NaN
min                                   NaN                  NaN
25%                                   NaN                  NaN
50%                                   NaN                  NaN
75%                                   NaN                  NaN
max                                   NaN                  NaN

        apparentTemperatureMin  apparentTemperatureMaxTime  \
count               882.000000                         882
unique                     NaN                         882
top                        NaN         2011-11-11 23:00:00
freq                       NaN                           1
mean                  5.738039                         NaN
std                   6.048746                         NaN
min                  -8.880000                         NaN
25%                   1.105000                         NaN
50%                   4.885000                         NaN
75%                  11.277500                         NaN
max                  20.540000                         NaN

       apparentTemperatureLowTime   moonPhase
count                         882  882.000000
unique                        882         NaN
top           2011-11-11 19:00:00         NaN
freq                            1         NaN
mean                          NaN    0.500930
std                           NaN    0.287022
min                           NaN    0.000000
25%                           NaN    0.260000
50%                           NaN    0.500000
75%                           NaN    0.750000
max                           NaN    0.990000

[11 rows x 32 columns]
Missing values per column:
temperatureMax                 0
temperatureMaxTime             0
windBearing                    0
icon                           0
dewPoint                       0
temperatureMinTime             0
cloudCover                     1
windSpeed                      0
pressure                       0
apparentTemperatureMinTime     0
apparentTemperatureHigh        0
precipType                     0
visibility                     0
humidity                       0
apparentTemperatureHighTime    0
apparentTemperatureLow         0
apparentTemperatureMax         0
uvIndex                        1
time                           0
sunsetTime                     0
temperatureLow                 0
temperatureMin                 0
temperatureHigh                0
sunriseTime                    0
temperatureHighTime            0
uvIndexTime                    1
summary                        0
temperatureLowTime             0
apparentTemperatureMin         0
apparentTemperatureMaxTime     0
apparentTemperatureLowTime     0
moonPhase                      0
dtype: int64
Number of duplicate rows: 0
--- WEATHER_HOURLY ---
Shape: (21165, 12)
Columns: ['visibility', 'windBearing', 'temperature', 'time', 'dewPoint', 'pressure', 'apparentTemperature', 'windSpeed', 'precipType', 'icon', 'humidity', 'summary']
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21165 entries, 0 to 21164
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   visibility           21165 non-null  float64
 1   windBearing          21165 non-null  int64
 2   temperature          21165 non-null  float64
 3   time                 21165 non-null  object
 4   dewPoint             21165 non-null  float64
 5   pressure             21152 non-null  float64
 6   apparentTemperature  21165 non-null  float64
 7   windSpeed            21165 non-null  float64
 8   precipType           21165 non-null  object
 9   icon                 21165 non-null  object
 10  humidity             21165 non-null  float64
 11  summary              21165 non-null  object
dtypes: float64(7), int64(1), object(4)
memory usage: 1.9+ MB
None
Summary:
          visibility   windBearing   temperature                 time  \
count   21165.000000  21165.000000  21165.000000                21165
unique           NaN           NaN           NaN                21165
top              NaN           NaN           NaN  2011-11-11 00:00:00
freq             NaN           NaN           NaN                    1
mean       11.166485    195.685897     10.471486                  NaN
std         3.099337     90.629453      5.781904                  NaN
min         0.180000      0.000000     -5.640000                  NaN
25%        10.120000    121.000000      6.470000                  NaN
50%        12.260000    217.000000      9.930000                  NaN
75%        13.080000    256.000000     14.310000                  NaN
max        16.090000    359.000000     32.400000                  NaN

            dewPoint      pressure  apparentTemperature     windSpeed  \
count   21165.000000  21152.000000         21165.000000  21165.000000
unique           NaN           NaN                  NaN           NaN
top              NaN           NaN                  NaN           NaN
freq             NaN           NaN                  NaN           NaN
mean        6.530501   1014.125153             9.230338      3.905215
std         5.041965     11.388337             6.940919      2.026854
min        -9.980000    975.740000            -8.880000      0.040000
25%         2.820000   1007.430000             3.900000      2.420000
50%         6.570000   1014.780000             9.360000      3.680000
75%        10.330000   1022.050000            14.320000      5.070000
max        19.880000   1043.320000            32.420000     14.800000

       precipType               icon      humidity        summary
count       21165              21165  21165.000000          21165
unique          2                  7           NaN             13
top          rain  partly-cloudy-day           NaN  Partly Cloudy
freq        20370               7658           NaN           6638
mean          NaN                NaN      0.781829            NaN
std           NaN                NaN      0.140369            NaN
min           NaN                NaN      0.230000            NaN
25%           NaN                NaN      0.700000            NaN
50%           NaN                NaN      0.810000            NaN
75%           NaN                NaN      0.890000            NaN

##### 1. **HOUSEHOLD_INFO**
  - 5566 kotitaluden tunnistetta **(LCLid)**
  - Jokainen talous kuuluu yhteen tai kahteen hinta luettoloon **(StdorToU) Std:Vakio, ToU: Aikaperusteinen**
  - Kotitaludet luokitellaan **(Acorn, Acorn_grouped)** kotitalauiden asemat yhteiskunnassa
  - **(file)** tarkoittaa mikä tieto sisältää kotitalouden tiedot. 112 uniikkia tiedostoa 
##### 2. **ACORN_DETAILS**
  - Acorn (A Classification Of Residential Neighbourhoods) on järjestelmä väestön luokitteluun
  - 826 riviä, joissa **pääkategoriat (MAIN CATEGORIES) ja alakategoriat (CATEGORIES)**
  - 17 numeerista saraketta **(esim. ACORN-A, ACORN-B)**
  - 1 puuttuva arvo sarakkeessa **REFERENCE**
##### 3. **UK_BANK_HOLIDAYS**
  - Lista Britannian pankki vapaista ja niiden tyypeistä
  - 25 pankki vapaata, kaikki uniikkeja
  - 11 kategoriaa, yleisin Boxing Day (3 esiintymää)
##### 4. **WEATHER_DAILY**
  - Päivittäiset säätiedot
  - 882 riviä sää ominaisuuksia, kuten lämpötila, pilvisyys, kosteus
  - Vähäinen määrä puuttuvia arvoja **(cloudCover, uvIndex)**
  - Tarkat tiedot lämpötiloista ja sääolosuhteista
##### 5. **WEATHER_HOURLY**
  - Tunnin välein kerättyjä säätietoja
  - 21,165 riviä ja 12 saraketta sääominaisuuksilla **(esim. lämpötila, näkyvyys)**
  - 13 puuttuvaa arvoa sarakkeessa **pressure**
  - **precipType: Kaksi luokkaa (sade, lumi)**
##### 6. **DAILY_DATASET**
  - Päivittäinen energiankulutus kotitalouksittain
  - 3,51 miljoonaa riviä ja 9 saraketta
  - Tietoja, kuten **(energy_mean, energy_sum, energy_max)**
  - 5566 uniikkia kotitaloutta, 829 päivää
  - Joitain puuttuvia arvoja energian kulutus tiedoissa
---
**Datan laatu:** Rakenteeltaan hyvä, vähän puuttuvia arvoja
**Yhdistämismahdollisuudet:**
  - LCLid yhdistää **(HOUSEHOLD_INFO, DAILY_DATASET)**
  - Säätiedot **(WEATHER_DAILY, WEATHER_HOURLY)** voidaan liittää päiväyksittäin
  - **(ACORN_DETAILS)** täydentävät kotitaloustietoja

**Etsitään alitiedosdot, lasketaan määrää ja yritetään saada yleiskatseus**
- Koodi etsii kaikki .csv tiedostot kolmesta eri kansiosta:
	•	Päivittäinen data (daily_dataset).
	•	Puolen tunnin data (halfhourly_dataset).
	•	HHBlock data (hhblock_dataset).
- Tulostaa jokaisesta kansiosta, montako .csv tiedostoa löytyi.
- Valitsen jokaisesta kansiosta yhden tiedoston (jos löytyy) ja analysoi sen summarize_dataset toiminnolla.

In [6]:
def get_all_csv_files(folder_path):
    """
    Kaivataan kaikki .csv tiedostot annetusta hakemistosta ja sen alihakemistoista.
    """
    csv_files = []
    for root, _, files in os.walk(folder_path):
        for file in files:
            if file.endswith('.csv'):
                csv_files.append(os.path.join(root, file))
    return csv_files

In [7]:
daily_files = get_all_csv_files(DAILY_DIR) # haetaan kaikki päivittäiset datasetit
print(f"Number of daily dataset files: {len(daily_files)}")

halfhourly_files = get_all_csv_files(HALFHOURLY_DIR) # haetaan kaikki puolen tunnin datasetit
print(f"Number of half-hourly dataset files: {len(halfhourly_files)}")

hhblock_files = get_all_csv_files(HHBLOCK_DIR) # haetaan kaikki hhblock datasetit
print(f"Number of hhblock dataset files: {len(hhblock_files)}")

Number of daily dataset files: 112
Number of half-hourly dataset files: 112
Number of hhblock dataset files: 112

In [8]:
# analysoidaan yksi tiedosto päivittäisestä datasetistä 
if daily_files:
    sample_daily_data = summarize_dataset(daily_files[0], 'daily_dataset_sample')
else:
    print("No daily dataset files found.")

# analysoi yksi tiedosto puolen tunnin datasetistä
if halfhourly_files:
    sample_halfhourly_data = summarize_dataset(halfhourly_files[0], 'halfhourly_dataset_sample')
else:
    print("No half-hourly dataset files found.")

# analysoi yksi tiedosto hhblock datasetistä 
if hhblock_files:
    sample_hhblock_data = summarize_dataset(hhblock_files[0], 'hhblock_dataset_sample')
else:
    print("No hhblock dataset files found.")

--- DAILY_DATASET_SAMPLE ---
Shape: (29178, 9)
Columns: ['LCLid', 'day', 'energy_median', 'energy_mean', 'energy_max', 'energy_count', 'energy_std', 'energy_sum', 'energy_min']
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29178 entries, 0 to 29177
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   LCLid          29178 non-null  object
 1   day            29178 non-null  object
 2   energy_median  29177 non-null  float64
 3   energy_mean    29177 non-null  float64
 4   energy_max     29177 non-null  float64
 5   energy_count   29178 non-null  int64
 6   energy_std     29091 non-null  float64
 7   energy_sum     29177 non-null  float64
 8   energy_min     29177 non-null  float64
dtypes: float64(6), int64(1), object(2)
memory usage: 2.0+ MB
None
Summary:
            LCLid         day  energy_median   energy_mean    energy_max  \
count       29178       29178   29177.000000  29177.000000  29177.000000
unique         50         815            NaN           NaN           NaN
top     MAC000027  2013-02-20            NaN           NaN           NaN
freq          815          49            NaN           NaN           NaN
mean          NaN         NaN       0.162839      0.220113      0.874403
std           NaN         NaN       0.160373      0.173038      0.637621
min           NaN         NaN       0.000000      0.000000      0.000000
25%           NaN         NaN       0.077500      0.116125      0.403000
50%           NaN         NaN       0.119500      0.173333      0.730000
75%           NaN         NaN       0.190000      0.265604      1.156000
max           NaN         NaN       2.016500      1.806354      6.452000

        energy_count    energy_std    energy_sum    energy_min
count   29178.000000  29091.000000  29177.000000  29177.000000
unique           NaN           NaN           NaN           NaN
top              NaN           NaN           NaN           NaN
freq             NaN           NaN           NaN           NaN
mean       47.812050      0.180287     10.528773      0.063477
std         2.728003      0.140765      8.300177      0.086212
min         0.000000      0.000498      0.000000      0.000000
25%        48.000000      0.080205      5.547000      0.023000
50%        48.000000      0.140250      8.301000      0.042000
75%        48.000000      0.234063     12.724000      0.076000
max        48.000000      1.390960     86.705000      1.040000
Missing values per column:
LCLid             0
day               0
energy_median     1
energy_mean       1
energy_max        1
energy_count      0
energy_std       87
energy_sum        1
energy_min        1
dtype: int64
Number of duplicate rows: 0
--- HALFHOURLY_DATASET_SAMPLE ---
Shape: (1395110, 3)
Columns: ['LCLid', 'tstp', 'energy(kWh/hh)']
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1395110 entries, 0 to 1395109
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   LCLid           1395110 non-null  object
 1   tstp            1395110 non-null  object
 2   energy(kWh/hh)  1395110 non-null  object
dtypes: object(3)
memory usage: 31.9+ MB
None
Summary:
            LCLid                         tstp energy(kWh/hh)
count     1395110                      1395110        1395110
unique         50                        39098           3228
top     MAC000027  2012-12-25 04:30:00.0000000         0.024
freq        39042                           49           8322
Missing values per column:
LCLid             0
tstp              0
energy(kWh/hh)    0
dtype: int64
Number of duplicate rows: 0
--- HHBLOCK_DATASET_SAMPLE ---
Shape: (28836, 50)
Columns: ['LCLid', 'day', 'hh_0', 'hh_1', 'hh_2', 'hh_3', 'hh_4', 'hh_5', 'hh_6', 'hh_7', 'hh_8', 'hh_9', 'hh_10', 'hh_11', 'hh_12', 'hh_13', 'hh_14', 'hh_15', 'hh_16', 'hh_17', 'hh_18', 'hh_19', 'hh_20', 'hh_21', 'hh_22', 'hh_23', 'hh_24', 'hh_25', 'hh_26', 'hh_27', 'hh_28', 'hh_29', 'hh_30', 'hh_31', 'hh_32', 'hh_33', 'hh_34', 'hh_35', 'hh_36', 'hh_37', 'hh_38', 'hh_39', 'hh_40', 'hh_41', 'hh_42', 'hh_43', 'hh_44', 'hh_45', 'hh_46', 'hh_47']
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28836 entries, 0 to 28835
Data columns (total 50 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   LCLid   28836 non-null  object
 1   day     28836 non-null  object
 2   hh_0    28836 non-null  float64
 3   hh_1    28836 non-null  float64
 4   hh_2    28836 non-null  float64
 5   hh_3    28836 non-null  float64
 6   hh_4    28836 non-null  float64
 7   hh_5    28836 non-null  float64
 8   hh_6    28836 non-null  float64
 9   hh_7    28836 non-null  float64
 10  hh_8    28836 non-null  float64
 11  hh_9    28836 non-null  float64
 12  hh_10   28836 non-null  float64
 13  hh_11   28836 non-null  float64
 14  hh_12   28836 non-null  float64
 15  hh_13   28836 non-null  float64
 16  hh_14   28836 non-null  float64
 17  hh_15   28836 non-null  float64
 18  hh_16   28836 non-null  float64
 19  hh_17   28836 non-null  float64
 20  hh_18   28836 non-null  float64
 21  hh_19   28836 non-null  float64
 22  hh_20   28836 non-null  float64
 23  hh_21   28836 non-null  float64
 24  hh_22   28836 non-null  float64
 25  hh_23   28836 non-null  float64
 26  hh_24   28836 non-null  float64
 27  hh_25   28836 non-null  float64
 28  hh_26   28836 non-null  float64
 29  hh_27   28836 non-null  float64
 30  hh_28   28836 non-null  float64
 31  hh_29   28836 non-null  float64
 32  hh_30   28788 non-null  float64
 33  hh_31   28836 non-null  float64
 34  hh_32   28836 non-null  float64
 35  hh_33   28836 non-null  float64
 36  hh_34   28836 non-null  float64
 37  hh_35   28836 non-null  float64
 38  hh_36   28836 non-null  float64
 39  hh_37   28836 non-null  float64
 40  hh_38   28836 non-null  float64
 41  hh_39   28836 non-null  float64
 42  hh_40   28836 non-null  float64
 43  hh_41   28836 non-null  float64
 44  hh_42   28836 non-null  float64
 45  hh_43   28836 non-null  float64
 46  hh_44   28836 non-null  float64
 47  hh_45   28836 non-null  float64
 48  hh_46   28836 non-null  float64
 49  hh_47   28836 non-null  float64
dtypes: float64(48), object(2)
memory usage: 11.0+ MB
None
Summary:
            LCLid         day          hh_0          hh_1          hh_2  \
count       28836       28836  28836.000000  28836.000000  28836.000000
unique         50         813           NaN           NaN           NaN
top     MAC000027  2012-12-24           NaN           NaN           NaN
freq          811          49           NaN           NaN           NaN
mean          NaN         NaN      0.149769      0.132798      0.121369
std           NaN         NaN      0.189339      0.168248      0.155599
min           NaN         NaN      0.000000      0.000000      0.000000
25%           NaN         NaN      0.052000      0.048000      0.046000
50%           NaN         NaN      0.090000      0.083000      0.079000
75%           NaN         NaN      0.159000      0.139000      0.125000
max           NaN         NaN      4.179000      3.145000      3.379000

                hh_3          hh_4          hh_5          hh_6          hh_7  \
count   28836.000000  28836.000000  28836.000000  28836.000000  28836.000000
unique           NaN           NaN           NaN           NaN           NaN
top              NaN           NaN           NaN           NaN           NaN
freq             NaN           NaN           NaN           NaN           NaN
mean        0.114568      0.110552      0.125917      0.130402      0.129352
std         0.144163      0.136281      0.192683      0.230748      0.228216
min         0.000000      0.000000      0.000000      0.000000      0.000000
25%         0.045000      0.044000      0.044000      0.043000      0.043000
50%         0.076000      0.075000      0.074000      0.074000      0.073000
75%         0.119000      0.117000      0.118000      0.117000      0.117000
max         3.111000      2.087000      2.149000      1.901000      2.205000

        ...         hh_38         hh_39         hh_40         hh_41  \
count   ...  28836.000000  28836.000000  28836.000000  28836.000000
unique  ...           NaN           NaN           NaN           NaN
top     ...           NaN           NaN           NaN           NaN
freq    ...           NaN           NaN           NaN           NaN
mean    ...      0.335781      0.335534      0.329599      0.327205
std     ...      0.350169      0.348368      0.342652      0.348269
min     ...      0.000000      0.000000      0.000000      0.000000
25%     ...      0.131000      0.132000      0.134000      0.134000
50%     ...      0.226000      0.232000      0.224000      0.224000
75%     ...      0.398000      0.394000      0.382000      0.378000
max     ...      4.362000      4.875000      5.364000      5.361000

               hh_42         hh_43         hh_44         hh_45         hh_46  \
count   28836.000000  28836.000000  28836.000000  28836.000000  28836.000000
unique           NaN           NaN           NaN           NaN           NaN
top              NaN           NaN           NaN           NaN           NaN
freq             NaN           NaN           NaN           NaN           NaN
mean        0.314469      0.297228      0.271551      0.239370      0.205561
std         0.330438      0.313440      0.296346      0.268979      0.245526
min         0.000000      0.000000      0.000000      0.000000      0.000000
25%         0.132000      0.122000      0.100000      0.085000      0.068000
50%         0.216000      0.205000      0.185000      0.157000      0.127000
75%         0.366000      0.356000      0.329000      0.291000      0.239000
max         5.586000      5.134000      4.879000      3.616000      3.891000

               hh_47
count   28836.000000
unique           NaN
top              NaN
freq             NaN
mean        0.175356
std         0.218911
min         0.000000
25%         0.058000
50%         0.103000
75%         0.195000
max         4.821000

[11 rows x 50 columns]
Missing values per column:
LCLid     0
day       0
hh_0      0
hh_1      0
hh_2      0
hh_3      0
hh_4      0
hh_5      0
hh_6      0
hh_7      0
hh_8      0
hh_9      0
hh_10     0
hh_11     0
hh_12     0
hh_13     0
hh_14     0
hh_15     0
hh_16     0
hh_17     0
hh_18     0
hh_19     0
hh_20     0
hh_21     0
hh_22     0
hh_23     0
hh_24     0
hh_25     0
hh_26     0
hh_27     0
hh_28     0
hh_29     0
hh_30    48
hh_31     0
hh_32     0
hh_33     0
hh_34     0
hh_35     0
hh_36     0
hh_37     0
hh_38     0
hh_39     0
hh_40     0
hh_41     0
hh_42     0
hh_43     0
hh_44     0
hh_45     0
hh_46     0
hh_47     0
dtype: int64
Number of duplicate rows: 0

##### 1. **DAILY_DATASET_SAMPLE**
Näyte päivittäisestä energiankulutusdatasta
  - 29178 riviä ja 9 saraketta
  - Sisältää energiankulutuksen tilastot (esim. `energy_mean`, `energy_sum`, `energy_max`)
  - 50 kotitaloutta (`LCLid`) ja 815 eri päivää (`day`)
  - Joitain puuttuvia arvoja energiankulutustiedoissa (esim. `energy_std`: 87 puuttuvaa arvoa)
##### 2. **HALFHOURLY_DATASET_SAMPLE**
Näyte puolen tunnin välein kerätystä energiankulutuksesta
  - 1,395,110 riviä ja 3 saraketta
  - Sarakkeet: `LCLid`, aikaleima (`tstp`), energiankulutus (`energy(kWh/hh)`)
  - 50 kotitaloutta ja 39,098 uniikkia aikaleimaa
  - Ei puuttuvia arvoja
##### 3. **HHBLOCK_DATASET_SAMPLE**
Näyte kotitalouksien puolen tunnin energiankulutuksesta päiväkohtaisesti
  - 28,836 riviä ja 50 saraketta
  - Sarakkeet: `LCLid`, päivä (`day`), ja 48 aikaväliä (`hh_0` - `hh_47`)
  - 50 kotitaloutta ja 813 eri päivää
  - Sarakkeessa `hh_30` 48 puuttuvaa arvoa
---
1. **Datan laatu:** 
   - Kokonaisuudessaan hyvin rakenteellista ja vain vähän puuttuvia arvoja.
   - **DAILY_DATASET_SAMPLE** ja **HHBLOCK_DATASET_SAMPLE** sisältävät pieniä määriä puuttuvia arvoja, jotka on käsiteltävä ennen analyysia.
2. **Yhdistämismahdollisuudet:**
   - `LCLid` toimii avainsarakkeena yhdistettäessä datasetit.
   - Päivämäärä (`day`) ja aikaleima (`tstp`) mahdollistavat ajallisen analyysin ja yhdistämisen muihin tietoihin.

## **1.HOUSEHOLD INFO**

In [10]:
household_info_path = files['household_info']
household_info = pd.read_csv(household_info_path)

print(household_info.info())
print(household_info.describe())
print(household_info.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5566 entries, 0 to 5565
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   LCLid          5566 non-null   object
 1   stdorToU       5566 non-null   object
 2   Acorn          5566 non-null   object
 3   Acorn_grouped  5566 non-null   object
 4   file           5566 non-null   object
dtypes: object(5)
memory usage: 217.5+ KB
None
            LCLid stdorToU    Acorn Acorn_grouped     file
count        5566     5566     5566          5566     5566
unique       5566        2       19             5      112
top     MAC005492      Std  ACORN-E      Affluent  block_0
freq            1     4443     1567          2192       50
       LCLid stdorToU    Acorn Acorn_grouped     file
0  MAC005492      ToU   ACORN-        ACORN-  block_0
1  MAC001074      ToU   ACORN-        ACORN-  block_0
2  MAC000002      Std  ACORN-A      Affluent  block_0
3  MAC003613      Std  ACORN-A      Affluent  block_0
4  MAC003597      Std  ACORN-A      Affluent  block_0

In [11]:
print(household_info.isnull().sum()) # tarkistetaan puuttuvat arvot

LCLid            0
stdorToU         0
Acorn            0
Acorn_grouped    0
file             0
dtype: int64

In [12]:
household_info['stdorToU'] = household_info['stdorToU'].str.strip().str.upper() # muutetaan kaikki kirjaimet isoiksi kirjaimiksi stdorToU sarakkeessa 
household_info['Acorn'] = household_info['Acorn'].str.strip() # poistetaan välilyönnit Acorn sarakkeesta 
household_info['Acorn_grouped'] = household_info['Acorn_grouped'].str.strip() # poistetaan välilyönnit Acorn_grouped sarakkeesta

In [13]:
household_info = household_info.drop_duplicates() # poistetaan duplikaatit 
household_info = household_info[household_info['Acorn_grouped'].notnull()] # poistetaan puuttuvat arvot Acorn_grouped sarakkeesta

In [14]:
household_info['Acorn_grouped'] = household_info['Acorn_grouped'].replace({ # korvataan Acorn_grouped sarakkeen arvot
    'Affluent': 'High Income', # korvataan Affluent High Income arvolla
    'Comfortable': 'Middle Income', # korvataan Comfortable Middle Income arvolla
    'Adversity': 'Low Income' # korvataan Adversity Low Income arvolla
})

In [15]:
household_info = household_info.reset_index(drop=True) # nollataan indeksi

In [16]:
household_info.to_csv('data/processed/cleaned_household_info.csv', index=False) # tallennetaan puhdistettu datasetti

OSError: Cannot save file into a non-existent directory: 'data/processed'

## **2.ACORN DETAILS**

In [ ]:
acorn_details_path = "data/raw/acorn_details.csv"
acorn_details = pd.read_csv(acorn_details_path, encoding='latin1')

print(acorn_details.info())
print(acorn_details.describe())
print(acorn_details.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 826 entries, 0 to 825
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MAIN CATEGORIES  826 non-null    object
 1   CATEGORIES       826 non-null    object
 2   REFERENCE        825 non-null    object
 3   ACORN-A          826 non-null    float64
 4   ACORN-B          826 non-null    float64
 5   ACORN-C          826 non-null    float64
 6   ACORN-D          826 non-null    float64
 7   ACORN-E          826 non-null    float64
 8   ACORN-F          826 non-null    float64
 9   ACORN-G          826 non-null    float64
 10  ACORN-H          826 non-null    float64
 11  ACORN-I          826 non-null    float64
 12  ACORN-J          826 non-null    float64
 13  ACORN-K          826 non-null    float64
 14  ACORN-L          826 non-null    float64
 15  ACORN-M          826 non-null    float64
 16  ACORN-N          826 non-null    float64
 17  ACORN-O          826 non-null    float64
 18  ACORN-P          826 non-null    float64
 19  ACORN-Q          826 non-null    float64
dtypes: float64(17), object(3)
memory usage: 129.2+ KB
None
       ACORN-A  ACORN-B  ACORN-C  ACORN-D  ACORN-E  ACORN-F  ACORN-G  ACORN-H  \
count  826.000  826.000  826.000  826.000  826.000  826.000  826.000  826.000
mean   131.313  110.860  100.081  136.858  117.895   95.575  101.444   97.299
std    201.448   42.464   30.100   97.741   35.769   33.637   21.799   18.229
min     12.000    0.957    0.282    2.000   21.000    0.000    0.791    1.155
25%     87.000   94.000   86.000   93.092   99.000   81.000   94.138   91.000
50%    104.000  107.000  100.000  121.000  117.000   98.000  102.000   99.000
75%    128.000  122.000  113.000  154.000  135.000  108.000  109.000  105.000
max   3795.000  419.000  272.000 1159.035  286.000  462.000  295.000  192.000

       ACORN-I  ACORN-J  ACORN-K  ACORN-L  ACORN-M  ACORN-N  ACORN-O  ACORN-P  \
count  826.000  826.000  826.000  826.000  826.000  826.000  826.000  826.000
mean    87.029  104.217  127.483   93.724   91.410   79.912   95.579  100.141
std     30.338   19.924   97.428   22.177   22.910   33.995   25.936   37.210
min      6.363   16.051   17.000    0.394    0.715    2.000   11.000    9.000
25%     70.000   97.000   85.000   86.000   82.000   60.254   86.000   82.250
50%     88.000  105.000  109.000   95.000   93.000   74.000   96.000   96.000
75%    101.750  115.000  144.000  102.000  101.000   93.158  104.000  109.000
max    410.000  197.000 1821.000  280.000  161.000  295.000  252.000  389.000

       ACORN-Q
count  826.000
mean    90.855
std     37.634
min      1.000
25%     71.250
50%     87.000
75%    101.000
max    326.000
  MAIN CATEGORIES CATEGORIES  REFERENCE  ACORN-A  ACORN-B  ACORN-C  ACORN-D  \
0      POPULATION        Age    Age 0-4   77.000   83.000   72.000  100.000
1      POPULATION        Age   Age 5-17  117.000  109.000   87.000   69.000
2      POPULATION        Age  Age 18-24   64.000   73.000   67.000  107.000
3      POPULATION        Age  Age 25-34   52.000   63.000   62.000  197.000
4      POPULATION        Age  Age 35-49  102.000  105.000   91.000  124.000

   ACORN-E  ACORN-F  ACORN-G  ACORN-H  ACORN-I  ACORN-J  ACORN-K  ACORN-L  \
0  120.000   77.000   97.000   97.000   63.000  119.000   67.000  114.000
1   94.000   95.000  102.000  106.000   67.000   95.000   64.000  108.000
2  100.000   71.000   83.000   89.000   62.000  104.000  459.000   97.000
3  151.000   66.000   90.000   88.000   63.000  132.000  145.000  109.000
4  118.000   93.000  102.000  103.000   76.000  111.000   67.000   99.000

   ACORN-M  ACORN-N  ACORN-O  ACORN-P  ACORN-Q
0  113.000   89.000  123.000  138.000  133.000
1  116.000   86.000   89.000  136.000  106.000
2   96.000   86.000  117.000  109.000  110.000
3   96.000   90.000  140.000  120.000  120.000
4   98.000   90.000  102.000  103.000  100.000

In [ ]:
acorn_details.isnull().sum() # tarkistetaan puuttuvat arvot
acorn_details.duplicated().sum() # tarkistetaan duplikaatit

MainCategories    0
SubCategories     0
Reference         0
AcornA            0
AcornB            0
AcornC            0
AcornD            0
AcornE            0
AcornF            0
AcornG            0
AcornH            0
AcornI            0
AcornJ            0
AcornK            0
AcornL            0
AcornM            0
AcornN            0
AcornO            0
AcornP            0
AcornQ            0
dtype: int64

np.int64(0)

In [ ]:
acorn_details = acorn_details.drop_duplicates() # poistetaan duplikaatit

In [ ]:
acorn_details['REFERENCE'] = acorn_details['REFERENCE'].fillna('Unknown') # täytetään puuttuvat arvot Unknown arvolla

In [ ]:
acorn_details['MAIN CATEGORIES'] = acorn_details['MAIN CATEGORIES'].str.strip().str.title() # muutetaan kaikki kirjaimet isoiksi kirjaimiksi ja poistetaan ylimääräiset välilyönnit MAIN CATEGORIES sarakkeessa
acorn_details['CATEGORIES'] = acorn_details['CATEGORIES'].str.strip().str.title() # muutetaan kaikki kirjaimet isoiksi kirjaimiksi ja poistetaan ylimääräiset välilyönnit CATEGORIES sarakkeessa
acorn_details['REFERENCE'] = acorn_details['REFERENCE'].str.strip().str.title() # muutetaan kaikki kirjaimet isoiksi kirjaimiksi ja poistetaan ylimääräiset välilyönnit REFERENCE sarakkeessa

In [ ]:
acorn_details = acorn_details.rename(columns={ # muutetaan sarakkeiden nimet
    'MAIN CATEGORIES': 'MainCategories', # muutetaan MAIN CATEGORIES sarakkeen nimi MainCategories
    'CATEGORIES': 'SubCategories', # muutetaan CATEGORIES sarakkeen nimi SubCategories
    'REFERENCE': 'Reference', # muutetaan REFERENCE sarakkeen nimi Reference
    'ACORN-A': 'AcornA',
    'ACORN-B': 'AcornB',
    'ACORN-C': 'AcornC',
    'ACORN-D': 'AcornD',
    'ACORN-E': 'AcornE',
    'ACORN-F': 'AcornF',
    'ACORN-G': 'AcornG',
    'ACORN-H': 'AcornH',
    'ACORN-I': 'AcornI',
    'ACORN-J': 'AcornJ',
    'ACORN-K': 'AcornK',
    'ACORN-L': 'AcornL',
    'ACORN-M': 'AcornM',
    'ACORN-N': 'AcornN',
    'ACORN-O': 'AcornO',
    'ACORN-P': 'AcornP',
    'ACORN-Q': 'AcornQ'
})

In [ ]:
numeric_columns = [col for col in acorn_details.columns if col.startswith('Acorn')] # valitaan sarakkeet, jotka alkavat Acorn kirjaimella 
for col in numeric_columns:
    acorn_details[col] = pd.to_numeric(acorn_details[col], errors='coerce') # muutetaan sarakkeiden arvot numeerisiksi

In [ ]:
for col in numeric_columns: 
    q1 = acorn_details[col].quantile(0.25) 
    q3 = acorn_details[col].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    acorn_details = acorn_details[(acorn_details[col] >= lower_bound) & (acorn_details[col] <= upper_bound)] # poistetaan outlierit

In [ ]:
acorn_details = acorn_details.reset_index(drop=True) # nollataan indeksi

In [ ]:
acorn_details.to_csv('data/processed/cleaned_acorn_details.csv', index=False) # tallennetaan puhdistettu datasetti

## **3.UK BANK HOLIDAYS**

In [ ]:
uk_bank_holidays_path = "data/raw/uk_bank_holidays.csv"
uk_bank_holidays = pd.read_csv(uk_bank_holidays_path)

print(uk_bank_holidays.info())
print(uk_bank_holidays.describe())
print(uk_bank_holidays.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Bank holidays  25 non-null     object
 1   Type           25 non-null     object
dtypes: object(2)
memory usage: 528.0+ bytes
None
       Bank holidays        Type
count             25          25
unique            25          11
top       2012-12-26  Boxing Day
freq               1           3
  Bank holidays                                          Type
0    2012-12-26                                    Boxing Day
1    2012-12-25                                 Christmas Day
2    2012-08-27                           Summer bank holiday
3    2012-05-06  Queen?s Diamond Jubilee (extra bank holiday)
4    2012-04-06          Spring bank holiday (substitute day)

In [ ]:
uk_bank_holidays.isnull().sum() # tarkistetaan puuttuvat arvot
uk_bank_holidays.duplicated().sum() # tarkistetaan duplikaatit

Bank holidays    0
dtype: int64

np.int64(0)

In [ ]:
uk_bank_holidays['Bank holidays']= uk_bank_holidays['Bank holidays'].str.strip().str.title() # muutetaan kaikki kirjaimet isoiksi kirjaimiksi ja poistetaan ylimääräiset välilyönnit Bank holidays sarakkeessa
uk_bank_holidays['Type']= uk_bank_holidays['Type'].str.strip().str.title() # muutetaan kaikki kirjaimet isoiksi kirjaimiksi ja poistetaan ylimääräiset välilyönnit Type sarakkeessa

In [ ]:
uk_bank_holidays['Type'] = uk_bank_holidays['Type'].str.replace('?', "'", regex=False) # korvataan ? merkki ' merkillä Type sarakkeessa

In [ ]:
uk_bank_holidays = uk_bank_holidays.drop_duplicates() # poistetaan duplikaatit

In [ ]:
uk_bank_holidays = pd.to_datetime(uk_bank_holidays['Bank holidays'], errors='coerce') # muutetaan Bank holidays sarakkeen arvot päivämäärämuotoon

In [ ]:
if isinstance(uk_bank_holidays, pd.Series):
    uk_bank_holidays = uk_bank_holidays.to_frame() # muutetaan Series DataFrameksi

In [ ]:
uk_bank_holidays['Bank holidays'] = pd.to_datetime(uk_bank_holidays['Bank holidays'], errors='coerce') # muutetaan Bank holidays sarakkeen arvot päivämäärämuotoon

In [ ]:
uk_bank_holidays = uk_bank_holidays.sort_values(by='Bank holidays').reset_index(drop=True) # järjestetään arvot Bank holidays sarakkeen mukaan ja nollataan indeksi

In [ ]:
uk_bank_holidays.to_csv('data/processed/cleaned_uk_bank_holidays.csv', index=False) # tallennetaan puhdistettu datasetti

## **4.WEATHER DAILY**

In [ ]:
weather_daily_path = "data/raw/weather_daily_darksky.csv"
weather_daily = pd.read_csv(weather_daily_path)

print(weather_daily.info())
print(weather_daily.describe())
print(weather_daily.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 882 entries, 0 to 881
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   temperatureMax               882 non-null    float64
 1   temperatureMaxTime           882 non-null    object
 2   windBearing                  882 non-null    int64
 3   icon                         882 non-null    object
 4   dewPoint                     882 non-null    float64
 5   temperatureMinTime           882 non-null    object
 6   cloudCover                   881 non-null    float64
 7   windSpeed                    882 non-null    float64
 8   pressure                     882 non-null    float64
 9   apparentTemperatureMinTime   882 non-null    object
 10  apparentTemperatureHigh      882 non-null    float64
 11  precipType                   882 non-null    object
 12  visibility                   882 non-null    float64
 13  humidity                     882 non-null    float64
 14  apparentTemperatureHighTime  882 non-null    object
 15  apparentTemperatureLow       882 non-null    float64
 16  apparentTemperatureMax       882 non-null    float64
 17  uvIndex                      881 non-null    float64
 18  time                         882 non-null    object
 19  sunsetTime                   882 non-null    object
 20  temperatureLow               882 non-null    float64
 21  temperatureMin               882 non-null    float64
 22  temperatureHigh              882 non-null    float64
 23  sunriseTime                  882 non-null    object
 24  temperatureHighTime          882 non-null    object
 25  uvIndexTime                  881 non-null    object
 26  summary                      882 non-null    object
 27  temperatureLowTime           882 non-null    object
 28  apparentTemperatureMin       882 non-null    float64
 29  apparentTemperatureMaxTime   882 non-null    object
 30  apparentTemperatureLowTime   882 non-null    object
 31  moonPhase                    882 non-null    float64
dtypes: float64(16), int64(1), object(15)
memory usage: 220.6+ KB
None
       temperatureMax  windBearing  dewPoint  cloudCover  windSpeed  pressure  \
count         882.000      882.000   882.000     881.000    882.000   882.000
mean           13.660      195.703     6.530       0.478      3.582  1014.128
std             6.183       89.341     4.831       0.194      1.694    11.073
min            -0.060        0.000    -7.840       0.000      0.200   979.250
25%             9.502      120.500     3.180       0.350      2.370  1007.435
50%            12.625      219.000     6.380       0.470      3.440  1014.615
75%            17.920      255.000    10.058       0.600      4.578  1021.755
max            32.400      359.000    17.770       1.000      9.960  1040.920

       apparentTemperatureHigh  visibility  humidity  apparentTemperatureLow  \
count                  882.000     882.000   882.000                 882.000
mean                    12.724      11.167     0.782                   6.085
std                      7.279       2.466     0.095                   6.032
min                     -6.460       1.480     0.430                  -8.880
25%                      7.033      10.328     0.720                   1.522
50%                     12.470      11.970     0.790                   5.315
75%                     17.910      12.830     0.860                  11.468
max                     32.420      15.340     0.980                  20.540

       apparentTemperatureMax  uvIndex  temperatureLow  temperatureMin  \
count                 882.000  881.000         882.000         882.000
mean                   12.929    2.543           7.710           7.414
std                     7.105    1.833           4.871           4.889
min                    -4.110    0.000          -5.640          -5.640
25%                     7.332    1.000           3.990           3.705
50%                    12.625    2.000           7.540           7.100
75%                    17.920    4.000          11.468          11.277
max                    32.420    7.000          20.540          20.540

       temperatureHigh  apparentTemperatureMin  moonPhase
count          882.000                 882.000    882.000
mean            13.542                   5.738      0.501
std              6.260                   6.049      0.287
min             -0.810                  -8.880      0.000
25%              9.213                   1.105      0.260
50%             12.470                   4.885      0.500
75%             17.910                  11.277      0.750
max             32.400                  20.540      0.990
   temperatureMax   temperatureMaxTime  windBearing                 icon  \
0          11.960  2011-11-11 23:00:00          123                  fog
1           8.590  2011-12-11 14:00:00          198    partly-cloudy-day
2          10.330  2011-12-27 02:00:00          225    partly-cloudy-day
3           8.070  2011-12-02 23:00:00          232                 wind
4           8.220  2011-12-24 23:00:00          252  partly-cloudy-night

   dewPoint   temperatureMinTime  cloudCover  windSpeed  pressure  \
0     9.400  2011-11-11 07:00:00       0.790      3.880  1016.080
1     4.490  2011-12-11 01:00:00       0.560      3.940  1007.710
2     5.470  2011-12-27 23:00:00       0.850      3.540  1032.760
3     3.690  2011-12-02 07:00:00       0.320      3.000  1012.120
4     2.790  2011-12-24 07:00:00       0.370      4.460  1028.170

  apparentTemperatureMinTime  apparentTemperatureHigh precipType  visibility  \
0        2011-11-11 07:00:00                   10.870       rain       3.300
1        2011-12-11 02:00:00                    5.620       rain      12.090
2        2011-12-27 22:00:00                   10.330       rain      13.390
3        2011-12-02 07:00:00                    5.330       rain      11.890
4        2011-12-24 07:00:00                    5.020       rain      13.160

   humidity apparentTemperatureHighTime  apparentTemperatureLow  \
0     0.950         2011-11-11 19:00:00                  10.870
1     0.880         2011-12-11 19:00:00                  -0.640
2     0.740         2011-12-27 14:00:00                   5.520
3     0.870         2011-12-02 12:00:00                   3.260
4     0.800         2011-12-24 15:00:00                   4.370

   apparentTemperatureMax  uvIndex                 time           sunsetTime  \
0                  11.960    1.000  2011-11-11 00:00:00  2011-11-11 16:19:21
1                   5.720    1.000  2011-12-11 00:00:00  2011-12-11 15:52:53
2                  10.330    0.000  2011-12-27 00:00:00  2011-12-27 15:57:56
3                   5.330    1.000  2011-12-02 00:00:00  2011-12-02 15:56:17
4                   5.320    1.000  2011-12-24 00:00:00  2011-12-24 15:55:55

   temperatureLow  temperatureMin  temperatureHigh          sunriseTime  \
0          10.870           8.850           10.870  2011-11-11 07:12:14
1           3.090           2.480            8.590  2011-12-11 07:57:02
2           8.030           8.030           10.330  2011-12-27 08:07:06
3           6.330           2.560            7.360  2011-12-02 07:46:09
4           7.450           3.170            7.930  2011-12-24 08:06:15

   temperatureHighTime          uvIndexTime  \
0  2011-11-11 19:00:00  2011-11-11 11:00:00
1  2011-12-11 14:00:00  2011-12-11 12:00:00
2  2011-12-27 14:00:00  2011-12-27 00:00:00
3  2011-12-02 12:00:00  2011-12-02 10:00:00
4  2011-12-24 15:00:00  2011-12-24 13:00:00

                                             summary   temperatureLowTime  \
0                             Foggy until afternoon.  2011-11-11 19:00:00
1                  Partly cloudy throughout the day.  2011-12-12 07:00:00
2                  Mostly cloudy throughout the day.  2011-12-27 23:00:00
3  Partly cloudy throughout the day and breezy ov...  2011-12-02 19:00:00
4                  Mostly cloudy throughout the day.  2011-12-24 19:00:00

   apparentTemperatureMin apparentTemperatureMaxTime  \
0                   6.480        2011-11-11 23:00:00
1                   0.110        2011-12-11 20:00:00
2                   5.590        2011-12-27 02:00:00
3                   0.460        2011-12-02 12:00:00
4                  -0.510        2011-12-24 23:00:00

  apparentTemperatureLowTime  moonPhase
0        2011-11-11 19:00:00      0.520
1        2011-12-12 08:00:00      0.530
2        2011-12-28 00:00:00      0.100
3        2011-12-02 19:00:00      0.250
4        2011-12-24 20:00:00      0.990

In [ ]:
weather_daily.isnull().sum() # tarkistetaan puuttuvat arvot
weather_daily.duplicated().sum() # tarkistetaan duplikaatit

temperatureMax                 0
temperatureMaxTime             0
windBearing                    0
icon                           0
dewPoint                       0
temperatureMinTime             0
cloudCover                     1
windSpeed                      0
pressure                       0
apparentTemperatureMinTime     0
apparentTemperatureHigh        0
precipType                     0
visibility                     0
humidity                       0
apparentTemperatureHighTime    0
apparentTemperatureLow         0
apparentTemperatureMax         0
uvIndex                        1
time                           0
sunsetTime                     0
temperatureLow                 0
temperatureMin                 0
temperatureHigh                0
sunriseTime                    0
temperatureHighTime            0
uvIndexTime                    1
summary                        0
temperatureLowTime             0
apparentTemperatureMin         0
apparentTemperatureMaxTime     0
apparentTemperatureLowTime     0
moonPhase                      0
dtype: int64

np.int64(0)

In [ ]:
weather_daily['cloudCover'] = weather_daily['cloudCover'].fillna(weather_daily['cloudCover'].median()) # täytetään puuttuvat arvot cloudCover sarakkeessa mediaanilla
weather_daily['uvIndex'] = weather_daily['uvIndex'].fillna(weather_daily['uvIndex'].median()) # täytetään puuttuvat arvot uvIndex sarakkeessa mediaanilla

In [ ]:
weather_daily['time'] = pd.to_datetime(weather_daily['time']) # muutetaan time sarakkeen arvot päivämäärämuotoon
weather_daily['sunriseTime'] = pd.to_datetime(weather_daily['sunriseTime']) # muutetaan sunriseTime sarakkeen arvot päivämäärämuotoon
weather_daily['sunsetTime'] = pd.to_datetime(weather_daily['sunsetTime']) # muutetaan sunsetTime sarakkeen arvot päivämäärämuotoon
weather_daily['temperatureMaxTime'] = pd.to_datetime(weather_daily['temperatureMaxTime']) # muutetaan temperatureMaxTime sarakkeen arvot päivämäärämuotoon
weather_daily['temperatureMinTime'] = pd.to_datetime(weather_daily['temperatureMinTime']) # muutetaan temperatureMinTime sarakkeen arvot päivämäärämuotoon

In [ ]:
weather_daily = weather_daily.drop_duplicates() # poistetaan duplikaatit

In [ ]:
numeric_columns = weather_daily.select_dtypes(include=['float64', 'int64']).columns # valitaan numeeriset sarakkeet 
weather_daily[numeric_columns] = weather_daily[numeric_columns].apply(pd.to_numeric, errors='coerce') # muutetaan numeeriset sarakkeet numeerisiksi

In [ ]:
weather_daily = weather_daily.rename(columns={ # muutetaan sarakkeiden nimet
    'time': 'Date',
    'temperatureMax': 'TempMax',
    'temperatureMin': 'TempMin',
    'temperatureHigh': 'TempHigh',
    'temperatureLow': 'TempLow',
    'humidity': 'Humidity',
    'windSpeed': 'WindSpeed',
    'precipType': 'PrecipitationType',
    'cloudCover': 'CloudCover',
    'moonPhase': 'MoonPhase'
})
print(weather_daily.columns)

Index(['TempMax', 'temperatureMaxTime', 'windBearing', 'icon', 'dewPoint',
       'temperatureMinTime', 'CloudCover', 'WindSpeed', 'pressure',
       'apparentTemperatureMinTime', 'apparentTemperatureHigh',
       'PrecipitationType', 'visibility', 'Humidity',
       'apparentTemperatureHighTime', 'apparentTemperatureLow',
       'apparentTemperatureMax', 'uvIndex', 'Date', 'sunsetTime', 'TempLow',
       'TempMin', 'TempHigh', 'sunriseTime', 'temperatureHighTime',
       'uvIndexTime', 'summary', 'temperatureLowTime',
       'apparentTemperatureMin', 'apparentTemperatureMaxTime',
       'apparentTemperatureLowTime', 'MoonPhase', 'DaylightDuration'],
      dtype='object')

In [ ]:
for col in weather_daily.select_dtypes(include=['float64', 'int64']).columns:
    q1 = weather_daily[col].quantile(0.25)
    q3 = weather_daily[col].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    weather_daily = weather_daily[(weather_daily[col] >= lower_bound) & (weather_daily[col] <= upper_bound)] # poistetaan outlierit
    print(f"Column: {col}, Lower bound: {lower_bound}, Upper bound: {upper_bound}")

Column: TempMax, Lower bound: -3.014999999999999, Upper bound: 31.185
Column: windBearing, Lower bound: 29.5, Upper bound: 393.5
Column: dewPoint, Lower bound: -7.015000000000002, Upper bound: 20.745000000000005
Column: CloudCover, Lower bound: -0.01624999999999982, Upper bound: 0.9337499999999997
Column: WindSpeed, Lower bound: -0.5462500000000001, Upper bound: 7.723750000000001
Column: pressure, Lower bound: 987.1562499999998, Upper bound: 1041.8662500000003
Column: apparentTemperatureHigh, Lower bound: -8.661249999999995, Upper bound: 34.76875
Column: visibility, Lower bound: 8.419999999999998, Upper bound: 15.620000000000001
Column: Humidity, Lower bound: 0.5149999999999999, Upper bound: 1.035
Column: apparentTemperatureLow, Lower bound: -13.465, Upper bound: 27.295
Column: apparentTemperatureMax, Lower bound: -6.522499999999999, Upper bound: 33.777499999999996
Column: uvIndex, Lower bound: -3.5, Upper bound: 8.5
Column: TempLow, Lower bound: -6.965, Upper bound: 23.395
Column: TempMin, Lower bound: -7.26, Upper bound: 23.22
Column: TempHigh, Lower bound: -3.709999999999999, Upper bound: 32.089999999999996
Column: apparentTemperatureMin, Lower bound: -13.734999999999998, Upper bound: 27.104999999999997
Column: MoonPhase, Lower bound: -0.5275, Upper bound: 1.5325
Column: DaylightDuration, Lower bound: -0.013055555555556708, Upper bound: 23.963611111111113

In [ ]:
weather_daily['DaylightDuration'] = (weather_daily['sunsetTime'] - weather_daily['sunriseTime']).dt.total_seconds() / 3600 # lasketaan päivänvalon kesto tuntien mukaan 
print(weather_daily['DaylightDuration'].head()) # tulostetaan päivänvalon kesto

1   7.931
2   7.847
3   8.169
4   7.828
5   7.867
Name: DaylightDuration, dtype: float64

In [ ]:
weather_daily.to_csv('data/processed/cleaned_weather_daily.csv', index=False) # tallennetaan puhdistettu datasetti

## **5.WEATHER HOURLY**

In [ ]:
weather_hourly_path = "data/raw/weather_hourly_darksky.csv"
weather_hourly = pd.read_csv(weather_hourly_path)

print(weather_hourly.info())
print(weather_hourly.describe())
print(weather_hourly.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21165 entries, 0 to 21164
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   visibility           21165 non-null  float64
 1   windBearing          21165 non-null  int64
 2   temperature          21165 non-null  float64
 3   time                 21165 non-null  object
 4   dewPoint             21165 non-null  float64
 5   pressure             21152 non-null  float64
 6   apparentTemperature  21165 non-null  float64
 7   windSpeed            21165 non-null  float64
 8   precipType           21165 non-null  object
 9   icon                 21165 non-null  object
 10  humidity             21165 non-null  float64
 11  summary              21165 non-null  object
dtypes: float64(7), int64(1), object(4)
memory usage: 1.9+ MB
None
       visibility  windBearing  temperature  dewPoint  pressure  \
count   21165.000    21165.000    21165.000 21165.000 21152.000
mean       11.166      195.686       10.471     6.531  1014.125
std         3.099       90.629        5.782     5.042    11.388
min         0.180        0.000       -5.640    -9.980   975.740
25%        10.120      121.000        6.470     2.820  1007.430
50%        12.260      217.000        9.930     6.570  1014.780
75%        13.080      256.000       14.310    10.330  1022.050
max        16.090      359.000       32.400    19.880  1043.320

       apparentTemperature  windSpeed  humidity
count            21165.000  21165.000 21165.000
mean                 9.230      3.905     0.782
std                  6.941      2.027     0.140
min                 -8.880      0.040     0.230
25%                  3.900      2.420     0.700
50%                  9.360      3.680     0.810
75%                 14.320      5.070     0.890
max                 32.420     14.800     1.000
   visibility  windBearing  temperature                 time  dewPoint  \
0       5.970          104       10.240  2011-11-11 00:00:00     8.860
1       4.880           99        9.760  2011-11-11 01:00:00     8.830
2       3.700           98        9.460  2011-11-11 02:00:00     8.790
3       3.120           99        9.230  2011-11-11 03:00:00     8.630
4       1.850          111        9.260  2011-11-11 04:00:00     9.210

   pressure  apparentTemperature  windSpeed precipType                 icon  \
0  1016.760               10.240      2.770       rain  partly-cloudy-night
1  1016.630                8.240      2.950       rain  partly-cloudy-night
2  1016.360                7.760      3.170       rain  partly-cloudy-night
3  1016.280                7.440      3.250       rain                  fog
4  1015.980                7.240      3.700       rain                  fog

   humidity        summary
0     0.910  Partly Cloudy
1     0.940  Partly Cloudy
2     0.960  Partly Cloudy
3     0.960          Foggy
4     1.000          Foggy

In [ ]:
print(weather_hourly.isnull().sum()) # tarkistetaan puuttuvat arvot

visibility              0
windBearing             0
temperature             0
time                    0
dewPoint                0
pressure               13
apparentTemperature     0
windSpeed               0
precipType              0
icon                    0
humidity                0
summary                 0
dtype: int64

In [ ]:
weather_hourly['pressure'] = weather_hourly['pressure'].fillna(weather_hourly['pressure'].median()) # täytetään puuttuvat arvot pressure sarakkeessa mediaanilla koska se on jatkuva muuttuja

In [ ]:
weather_hourly['time'] = pd.to_datetime(weather_hourly['time']) # muutetaan time sarakkeen arvot päivämäärämuotoon

In [ ]:
weather_hourly['precipType'] = weather_hourly['precipType'].str.strip().str.title() # muutetaan kaikki kirjaimet isoiksi kirjaimiksi ja poistetaan ylimääräiset välilyönnit precipType sarakkeessa
weather_hourly['icon'] = weather_hourly['icon'].str.strip().str.title() # muutetaan kaikki kirjaimet isoiksi kirjaimiksi ja poistetaan ylimääräiset välilyönnit icon sarakkeessa
weather_hourly['summary'] = weather_hourly['summary'].str.strip().str.title() # muutetaan kaikki kirjaimet isoiksi kirjaimiksi ja poistetaan ylimääräiset välilyönnit summary sarakkeessa

In [ ]:
def detect_outliers(column):
    q1 = weather_hourly[column].quantile(0.25)
    q3 = weather_hourly[column].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    outliers = weather_hourly[(weather_hourly[column] < lower_bound) | (weather_hourly[column] > upper_bound)] # etsitään outlierit
    print(f"Outliers detected in {column}: {len(outliers)}") 
    return lower_bound, upper_bound 

lower_temp, upper_temp = detect_outliers('temperature')

Outliers detected in temperature: 162

In [ ]:
weather_hourly = weather_hourly[(weather_hourly['temperature'] >= lower_temp) &  # poistetaan outlierit
                                (weather_hourly['temperature'] <= upper_temp)]  

print("Shape of dataset after removing outliers in temperature:", weather_hourly.shape)

Shape of dataset after removing outliers in temperature: (21003, 12)

In [ ]:
weather_hourly['windChillEffect'] = weather_hourly['apparentTemperature'] - weather_hourly['temperature'] # lasketaan tuulen viilentävä vaikutus 
print(weather_hourly[['temperature', 'apparentTemperature', 'windChillEffect']].head()) # tulostetaan lämpötila, tuntuu kuin lämpötila ja tuulen viilentävä vaikutus

   temperature  apparentTemperature  windChillEffect
0       10.240               10.240            0.000
1        9.760                8.240           -1.520
2        9.460                7.760           -1.700
3        9.230                7.440           -1.790
4        9.260                7.240           -2.020

In [ ]:
weather_hourly.to_csv('data/processed/cleaned_weather_hourly.csv', index=False) # tallennetaan puhdistettu datasetti

## **6.DAILY DATASET**

In [ ]:
daily_dataset_path = "data/raw/daily_dataset.csv"
daily_dataset = pd.read_csv(daily_dataset_path)

print(daily_dataset.info())
print(daily_dataset.describe())
print(daily_dataset.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3510433 entries, 0 to 3510432
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   LCLid          object
 1   day            object
 2   energy_median  float64
 3   energy_mean    float64
 4   energy_max     float64
 5   energy_count   int64
 6   energy_std     float64
 7   energy_sum     float64
 8   energy_min     float64
dtypes: float64(6), int64(1), object(2)
memory usage: 241.0+ MB
None
       energy_median  energy_mean  energy_max  energy_count  energy_std  \
count    3510403.000  3510403.000 3510403.000   3510433.000 3499102.000
mean           0.159        0.212       0.835        47.804       0.173
std            0.170        0.191       0.668         2.811       0.153
min            0.000        0.000       0.000         0.000       0.000
25%            0.067        0.098       0.346        48.000       0.069
50%            0.115        0.163       0.688        48.000       0.133
75%            0.191        0.262       1.128        48.000       0.229
max            6.971        6.928      10.761        48.000       4.025

       energy_sum  energy_min
count 3510403.000 3510403.000
mean       10.124       0.060
std         9.129       0.087
min         0.000       0.000
25%         4.682       0.020
50%         7.815       0.039
75%        12.569       0.071
max       332.556       6.524
       LCLid         day  energy_median  energy_mean  energy_max  \
0  MAC000131  2011-12-15          0.485        0.432       0.868
1  MAC000131  2011-12-16          0.141        0.296       1.116
2  MAC000131  2011-12-17          0.102        0.190       0.685
3  MAC000131  2011-12-18          0.114        0.219       0.676
4  MAC000131  2011-12-19          0.191        0.326       0.788

   energy_count  energy_std  energy_sum  energy_min
0            22       0.239       9.505       0.072
1            48       0.281      14.216       0.031
2            48       0.188       9.111       0.064
3            48       0.203      10.511       0.065
4            48       0.259      15.647       0.066

In [ ]:
print(daily_dataset.isnull().sum()) # tarkistetaan puuttuvat arvot

LCLid                0
day                  0
energy_median       30
energy_mean         30
energy_max          30
energy_count         0
energy_std       11331
energy_sum          30
energy_min          30
dtype: int64

In [ ]:
columns_with_missing = ['energy_median', 'energy_mean', 'energy_max', 'energy_sum', 'energy_min', 'energy_std'] # valitaan sarakkeet, joissa on puuttuvia arvoja 
for col in columns_with_missing: # täytetään puuttuvat arvot mediaanilla koska sarakkeet ovat vinoja
    daily_dataset[col] = daily_dataset[col].fillna(daily_dataset[col].median())

print(daily_dataset.isnull().sum())

LCLid            0
day              0
energy_median    0
energy_mean      0
energy_max       0
energy_count     0
energy_std       0
energy_sum       0
energy_min       0
dtype: int64

In [ ]:
daily_dataset['day'] = pd.to_datetime(daily_dataset['day'])

In [ ]:
daily_dataset = daily_dataset.drop_duplicates()
print(daily_dataset.shape)

(3510433, 9)

In [ ]:
def detect_outliers(column):
    q1 = daily_dataset[column].quantile(0.25)
    q3 = daily_dataset[column].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    outliers = daily_dataset[(daily_dataset[column] < lower_bound) | (daily_dataset[column] > upper_bound)] # etsitään outlierit
    print(f"Outliers detected in {column}: {len(outliers)}") 
    return lower_bound, upper_bound

lower_sum, upper_sum = detect_outliers('energy_sum') # etsitään outlierit energy_sum sarakkeesta

Outliers detected in energy_sum: 201571

In [ ]:
daily_dataset = daily_dataset[(daily_dataset['energy_sum'] >= lower_sum) & (daily_dataset['energy_sum'] <= upper_sum)]
print(daily_dataset.shape)

(3308862, 9)

In [ ]:
daily_dataset['energy_range'] = daily_dataset['energy_max'] - daily_dataset['energy_min'] # lasketaan energian vaihteluväli 
print(daily_dataset[['energy_max', 'energy_min', 'energy_range']].head()) # tulostetaan energian maksimi, minimi ja vaihteluväli

   energy_max  energy_min  energy_range
0       0.868       0.072         0.796
1       1.116       0.031         1.085
2       0.685       0.064         0.621
3       0.676       0.065         0.611
4       0.788       0.066         0.722

In [ ]:
daily_data.to_csv('data/processed/cleaned_daily_dataset.csv', index=False) # tallennetaan puhdistettu datasetti

In [ ]:
daily_data = pd.concat([pd.read_csv(file) for file in daily_files], ignore_index=True) # yhdistetään kaikki päivittäiset datasetit yhdeksi datasetiksi koska ne ovat samassa muodossa
print(f"Shape of concatenated daily dataset: {daily_data.shape}")

Shape of concatenated daily dataset: (3510433, 9)

In [ ]:
halfhourly_data = pd.concat([pd.read_csv(file) for file in halfhourly_files], ignore_index=True) # yhdistetään kaikki puolen tunnin datasetit yhdeksi datasetiksi koska ne ovat samassa muodossa
print(f"Shape of concatenated half-hourly dataset: {halfhourly_data.shape}")

Shape of concatenated half-hourly dataset: (167817021, 3)

In [ ]:
hhblock_data = pd.concat([pd.read_csv(file) for file in hhblock_files], ignore_index=True) # yhdistetään kaikki hhblock datasetit yhdeksi datasetiksi koska ne ovat samassa muodossa
print(f"Shape of concatenated hhblock dataset: {hhblock_data.shape}")

Shape of concatenated hhblock dataset: (3469352, 50)

In [ ]:
daily_data.to_csv("data/raw/daily_data.csv", index=False) # tallennetaan yhdistetty datasetti
halfhourly_data.to_csv("data/raw/halfhourly_data.csv", index=False) # tallennetaan yhdistetty datasetti
hhblock_data.to_csv("data/raw/hhblock_data.csv", index=False) # tallennetaan yhdistetty datasetti

## **6.2 DAILY DATA**

In [ ]:
daily_data_path = "data/raw/daily_data.csv"
daily_data = pd.read_csv(daily_data_path)

print(daily_data.info())
print(daily_data.describe())
print(daily_data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3510433 entries, 0 to 3510432
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   LCLid          object
 1   day            object
 2   energy_median  float64
 3   energy_mean    float64
 4   energy_max     float64
 5   energy_count   int64
 6   energy_std     float64
 7   energy_sum     float64
 8   energy_min     float64
dtypes: float64(6), int64(1), object(2)
memory usage: 241.0+ MB
None
       energy_median  energy_mean  energy_max  energy_count  energy_std  \
count    3510403.000  3510403.000 3510403.000   3510433.000 3499102.000
mean           0.159        0.212       0.835        47.804       0.173
std            0.170        0.191       0.668         2.811       0.153
min            0.000        0.000       0.000         0.000       0.000
25%            0.067        0.098       0.346        48.000       0.069
50%            0.115        0.163       0.688        48.000       0.133
75%            0.191        0.262       1.128        48.000       0.229
max            6.971        6.928      10.761        48.000       4.025

       energy_sum  energy_min
count 3510403.000 3510403.000
mean       10.124       0.060
std         9.129       0.087
min         0.000       0.000
25%         4.682       0.020
50%         7.815       0.039
75%        12.569       0.071
max       332.556       6.524
       LCLid         day  energy_median  energy_mean  energy_max  \
0  MAC000027  2011-12-07          0.147        0.160       0.408
1  MAC000027  2011-12-08          0.170        0.193       0.459
2  MAC000027  2011-12-09          0.144        0.157       0.365
3  MAC000027  2011-12-10          0.241        0.264       0.814
4  MAC000027  2011-12-11          0.278        0.288       0.540

   energy_count  energy_std  energy_sum  energy_min
0            25       0.062       3.997       0.103
1            48       0.077       9.287       0.105
2            48       0.052       7.525       0.101
3            48       0.135      12.684       0.101
4            48       0.113      13.845       0.126

In [ ]:
print(daily_data.isnull().sum()) # tarkistetaan puuttuvat arvot

LCLid                0
day                  0
energy_median       30
energy_mean         30
energy_max          30
energy_count         0
energy_std       11331
energy_sum          30
energy_min          30
dtype: int64

In [ ]:
columns_with_missing = ['energy_median', 'energy_mean', 'energy_max', 'energy_sum', 'energy_min', 'energy_std']
for col in columns_with_missing: # täytetään puuttuvat arvot mediaanilla koska sarakkeet ovat vinoja 
    daily_data[col] = daily_data[col].fillna(daily_data[col].median())
print(daily_data.isnull().sum())

LCLid            0
day              0
energy_median    0
energy_mean      0
energy_max       0
energy_count     0
energy_std       0
energy_sum       0
energy_min       0
dtype: int64

In [ ]:
daily_data['day'] = pd.to_datetime(daily_data['day']) # muutetaan day sarakkeen arvot päivämäärämuotoon

In [ ]:
daily_data.duplicated().sum() # tarkistetaan duplikaatit
daily_data.shape # tulostetaan datasetin muoto

np.int64(0)

(3510433, 9)

In [ ]:
def detect_outliers(column): # funktio, joka etsii outlierit
    q1 = daily_data[column].quantile(0.25)
    q3 = daily_data[column].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    outliers = daily_data[(daily_data[column] < lower_bound) | (daily_data[column] > upper_bound)]
    print(f"Outliers detected in {column}: {len(outliers)}")
    return lower_bound, upper_bound
outliers = detect_outliers('energy_sum') # etsitään outlierit energy_sum sarakkeesta
print(outliers)

Outliers detected in energy_sum: 201571
(np.float64(-7.1485), np.float64(24.399500000000003))

In [ ]:
daily_data[(daily_data['energy_sum'] >= lower_sum) & (daily_data['energy_sum'] <= upper_sum)] # poistetaan outlierit
print(daily_data.shape)

,LCLid,day,energy_median,energy_mean,energy_max,energy_count,energy_std,energy_sum,energy_min
0,MAC000027,2011-12-07,0.147,0.160,0.408,25,0.062,3.997,0.103
1,MAC000027,2011-12-08,0.170,0.193,0.459,48,0.077,9.287,0.105
2,MAC000027,2011-12-09,0.144,0.157,0.365,48,0.052,7.525,0.101
3,MAC000027,2011-12-10,0.241,0.264,0.814,48,0.135,12.684,0.101
4,MAC000027,2011-12-11,0.278,0.288,0.540,48,0.113,13.845,0.126
...,...,...,...,...,...,...,...,...,...
3510428,MAC004883,2013-05-11,0.048,0.065,0.155,48,0.033,3.123,0.007
3510429,MAC004883,2013-05-12,0.053,0.089,0.805,48,0.125,4.279,0.041
3510430,MAC004883,2013-05-13,0.046,0.053,0.120,48,0.023,2.530,0.006
3510431,MAC004883,2013-05-14,0.049,0.062,0.112,48,0.025,2.968,0.041
3510432,MAC004883,2013-05-15,0.054,0.065,0.189,48,0.030,3.122,0.042

(3510433, 9)

In [ ]:
daily_data['energy_range'] = daily_data['energy_max'] - daily_data['energy_min'] # lasketaan energian vaihteluväli
print(daily_data[['energy_max', 'energy_min', 'energy_range']].head())

   energy_max  energy_min  energy_range
0       0.408       0.103         0.305
1       0.459       0.105         0.354
2       0.365       0.101         0.264
3       0.814       0.101         0.713
4       0.540       0.126         0.414

In [ ]:
daily_data.to_csv('data/processed/cleaned_daily_data.csv', index=False) # tallennetaan puhdistettu datasetti

## **7. HALFHOURLY DATA**

In [ ]:
halfhourly_data_path = "data/raw/halfhourly_data.csv"
halfhourly_data = pd.read_csv(halfhourly_data_path)

print(halfhourly_data.info())
print(halfhourly_data.describe())
print(halfhourly_data.head())

NameError: name 'pd' is not defined

In [ ]:
print(halfhourly_data.isnull().sum()) # tarkistetaan puuttuvat arvot
print(halfhourly_data.duplicated().sum()) # tarkistetaan duplikaatit

LCLid             0
tstp              0
energy(kWh/hh)    0
dtype: int64
0

In [ ]:
print(halfhourly_data['energy(kWh/hh)'].unique()[:10]) # tulostetaan ainutlaatuiset arvot energy(kWh/hh) sarakkeesta

[' 0.185 ' ' 0.155 ' ' 0.147 ' ' 0.164 ' ' 0.187 ' ' 0.118 ' ' 0.114 '
 ' 0.135 ' ' 0.138 ' ' 0.107 ']

In [ ]:
halfhourly_data['energy(kWh/hh)'] = halfhourly_data['energy(kWh/hh)'].str.strip() # poistetaan ylimääräiset välilyönnit energy(kWh/hh) sarakkeesta
halfhourly_data['energy(kWh/hh)'] = pd.to_numeric(halfhourly_data['energy(kWh/hh)'], errors='coerce') # muutetaan energy(kWh/hh) sarakkeen arvot numeerisiksi

In [ ]:
halfhourly_data['energy(kWh/hh)'] = halfhourly_data['energy(kWh/hh)'].fillna(halfhourly_data['energy(kWh/hh)'].median())
# täytetään puuttuvat arvot mediaanilla koska sarakkeet ovat vinoja

In [ ]:
halfhourly_data['tstp'] = pd.to_datetime(halfhourly_data['tstp'], errors='coerce') 
# muutetaan tstp sarakkeen arvot päivämäärämuotoon

In [ ]:
halfhourly_data = halfhourly_data.drop_duplicates() # poistetaan duplikaatit

In [ ]:
def detect_outliers(column): # funktio, joka etsii outlierit
    q1 = halfhourly_data[column].quantile(0.25)
    q3 = halfhourly_data[column].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    outliers = halfhourly_data[(halfhourly_data[column] < lower_bound) | (halfhourly_data[column] > upper_bound)]
    print(f"Outliers detected in {column}: {len(outliers)}")
    return lower_bound, upper_bound
outliers = detect_outliers('energy(kWh/hh)') # etsitään outlierit energy(kWh/hh) sarakkeesta
print(outliers)

Outliers detected in energy(kWh/hh): 15416021
(np.float64(-0.21349999999999997), np.float64(0.5105))

In [ ]:
halfhourly_data = halfhourly_data[(halfhourly_data['energy(kWh/hh)'] >= lower_sum) & (halfhourly_data['energy(kWh/hh)'] <= upper_sum)] # poistetaan outlierit
print(halfhourly_data.shape)

(167817021, 3)

In [ ]:
halfhourly_data.to_csv('data/processed/cleaned_halfhourly_data.csv', index=False) # tallennetaan puhdistettu datasetti

## **8.1 HHBLOCK DATA**

In [ ]:
hhblock_data_path = "data/raw/hhblock_data.csv"
hhblock_data = pd.read_csv(hhblock_data_path)

print(hhblock_data.info())
print(hhblock_data.describe())
print(hhblock_data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3469352 entries, 0 to 3469351
Data columns (total 50 columns):
 #   Column  Dtype
---  ------  -----
 0   LCLid   object
 1   day     object
 2   hh_0    float64
 3   hh_1    float64
 4   hh_2    float64
 5   hh_3    float64
 6   hh_4    float64
 7   hh_5    float64
 8   hh_6    float64
 9   hh_7    float64
 10  hh_8    float64
 11  hh_9    float64
 12  hh_10   float64
 13  hh_11   float64
 14  hh_12   float64
 15  hh_13   float64
 16  hh_14   float64
 17  hh_15   float64
 18  hh_16   float64
 19  hh_17   float64
 20  hh_18   float64
 21  hh_19   float64
 22  hh_20   float64
 23  hh_21   float64
 24  hh_22   float64
 25  hh_23   float64
 26  hh_24   float64
 27  hh_25   float64
 28  hh_26   float64
 29  hh_27   float64
 30  hh_28   float64
 31  hh_29   float64
 32  hh_30   float64
 33  hh_31   float64
 34  hh_32   float64
 35  hh_33   float64
 36  hh_34   float64
 37  hh_35   float64
 38  hh_36   float64
 39  hh_37   float64
 40  hh_38   float64
 41  hh_39   float64
 42  hh_40   float64
 43  hh_41   float64
 44  hh_42   float64
 45  hh_43   float64
 46  hh_44   float64
 47  hh_45   float64
 48  hh_46   float64
 49  hh_47   float64
dtypes: float64(48), object(2)
memory usage: 1.3+ GB
None
             hh_0        hh_1        hh_2        hh_3        hh_4        hh_5  \
count 3469352.000 3469352.000 3469352.000 3469352.000 3469352.000 3469352.000
mean        0.179       0.169       0.152       0.138       0.128       0.122
std         0.309       0.329       0.298       0.266       0.237       0.220
min         0.000       0.000       0.000       0.000       0.000       0.000
25%         0.052       0.048       0.046       0.044       0.042       0.042
50%         0.098       0.088       0.081       0.077       0.074       0.072
75%         0.191       0.168       0.150       0.138       0.130       0.125
max         7.272       8.717       8.025       8.750       8.414       8.591

             hh_6        hh_7        hh_8        hh_9       hh_10       hh_11  \
count 3469352.000 3469352.000 3469352.000 3469352.000 3469352.000 3469352.000
mean        0.117       0.114       0.113       0.116       0.120       0.131
std         0.208       0.197       0.190       0.192       0.194       0.208
min         0.000       0.000       0.000       0.000       0.000       0.000
25%         0.041       0.041       0.040       0.041       0.041       0.043
50%         0.071       0.070       0.070       0.071       0.072       0.077
75%         0.122       0.120       0.119       0.122       0.127       0.139
max         7.357       7.676       7.581       7.568       7.273       7.608

            hh_12       hh_13       hh_14       hh_15       hh_16       hh_17  \
count 3469352.000 3469352.000 3469352.000 3469352.000 3469352.000 3469352.000
mean        0.147       0.168       0.185       0.201       0.211       0.216
std         0.225       0.247       0.263       0.276       0.288       0.295
min         0.000       0.000       0.000       0.000       0.000       0.000
25%         0.046       0.050       0.055       0.059       0.061       0.062
50%         0.084       0.095       0.106       0.115       0.121       0.124
75%         0.157       0.183       0.207       0.228       0.240       0.246
max         8.892       8.812       9.166       8.782       9.710       9.650

            hh_18       hh_19       hh_20       hh_21       hh_22       hh_23  \
count 3469352.000 3469350.000 3469352.000 3469352.000 3469352.000 3469352.000
mean        0.216       0.216       0.214       0.214       0.214       0.215
std         0.296       0.296       0.297       0.297       0.298       0.298
min         0.000       0.000       0.000       0.000       0.000       0.000
25%         0.061       0.060       0.059       0.058       0.058       0.058
50%         0.122       0.121       0.119       0.117       0.116       0.117
75%         0.244       0.242       0.239       0.238       0.237       0.239
max         9.106       9.112       8.848       8.136       9.568       7.731

            hh_24       hh_25       hh_26       hh_27       hh_28       hh_29  \
count 3469352.000 3469331.000 3469350.000 3469352.000 3469352.000 3469352.000
mean        0.216       0.217       0.215       0.213       0.211       0.210
std         0.298       0.299       0.296       0.292       0.290       0.287
min         0.000       0.000       0.000       0.000       0.000       0.000
25%         0.058       0.059       0.059       0.059       0.059       0.060
50%         0.118       0.120       0.119       0.118       0.118       0.119
75%         0.240       0.242       0.239       0.237       0.234       0.234
max         9.294       8.171       7.556       8.875       8.797       8.659

            hh_30       hh_31       hh_32       hh_33       hh_34       hh_35  \
count 3463892.000 3469352.000 3469352.000 3469352.000 3469352.000 3469352.000
mean        0.212       0.220       0.232       0.251       0.270       0.292
std         0.286       0.292       0.302       0.319       0.335       0.352
min         0.000       0.000       0.000       0.000       0.000       0.000
25%         0.061       0.063       0.067       0.072       0.078       0.085
50%         0.121       0.127       0.135       0.147       0.160       0.174
75%         0.238       0.248       0.265       0.291       0.319       0.350
max         8.425       8.105       9.944      10.528      10.761       8.631

            hh_36       hh_37       hh_38       hh_39       hh_40       hh_41  \
count 3469351.000 3469352.000 3469352.000 3469352.000 3469352.000 3469352.000
mean        0.306       0.318       0.321       0.321       0.316       0.310
std         0.362       0.369       0.368       0.363       0.352       0.342
min         0.000       0.000       0.000       0.000       0.000       0.000
25%         0.091       0.097       0.101       0.105       0.108       0.109
50%         0.186       0.195       0.201       0.205       0.207       0.207
75%         0.371       0.388       0.390       0.389       0.382       0.375
max         8.702       9.679       8.833       9.141       8.998       9.189

            hh_42       hh_43       hh_44       hh_45       hh_46       hh_47
count 3469352.000 3469352.000 3469352.000 3469352.000 3469352.000 3469352.000
mean        0.300       0.288       0.266       0.242       0.214       0.187
std         0.330       0.319       0.303       0.285       0.265       0.242
min         0.000       0.000       0.000       0.000       0.000       0.000
25%         0.108       0.103       0.092       0.079       0.067       0.058
50%         0.203       0.195       0.178       0.158       0.134       0.113
75%         0.363       0.349       0.323       0.294       0.258       0.221
max         8.539       9.257       7.819       8.051       7.769       8.411
       LCLid         day  hh_0  hh_1  hh_2  hh_3  hh_4  hh_5  hh_6  hh_7  \
0  MAC000027  2011-12-08 0.221 0.175 0.222 0.159 0.141 0.130 0.136 0.110
1  MAC000027  2011-12-09 0.151 0.189 0.143 0.155 0.180 0.185 0.158 0.134
2  MAC000027  2011-12-10 0.152 0.176 0.198 0.164 0.126 0.134 0.109 0.146
3  MAC000027  2011-12-11 0.252 0.232 0.259 0.274 0.254 0.183 0.155 0.133
4  MAC000027  2011-12-12 0.277 0.291 0.256 0.213 0.183 0.134 0.122 0.147

   hh_8  hh_9  hh_10  hh_11  hh_12  hh_13  hh_14  hh_15  hh_16  hh_17  hh_18  \
0 0.122 0.164  0.113  0.105  0.128  0.296  0.208  0.421  0.281  0.459  0.193
1 0.126 0.111  0.139  0.149  0.108  0.274  0.365  0.288  0.253  0.162  0.139
2 0.133 0.107  0.105  0.146  0.142  0.101  0.252  0.376  0.250  0.217  0.243
3 0.126 0.186  0.146  0.126  0.148  0.142  0.160  0.143  0.340  0.266  0.283
4 0.171 0.146  0.135  0.149  0.128  0.259  0.266  0.443  0.267  0.343  0.184

   hh_19  hh_20  hh_21  hh_22  hh_23  hh_24  hh_25  hh_26  hh_27  hh_28  \
0  0.145  0.166  0.159  0.160  0.158  0.153  0.152  0.184  0.190  0.149
1  0.138  0.124  0.127  0.134  0.125  0.165  0.156  0.145  0.125  0.164
2  0.178  0.178  0.243  0.186  0.211  0.331  0.183  0.814  0.563  0.281
3  0.304  0.194  0.179  0.225  0.375  0.526  0.302  0.372  0.518  0.471
4  0.195  0.184  0.139  0.129  0.148  0.352  0.323  0.226  0.271  0.196

   hh_29  hh_30  hh_31  hh_32  hh_33  hh_34  hh_35  hh_36  hh_37  hh_38  \
0  0.129  0.137  0.189  0.220  0.121  0.126  0.125  0.124  0.223  0.268
1  0.161  0.101  0.102  0.138  0.148  0.101  0.124  0.124  0.128  0.125
2  0.343  0.356  0.324  0.317  0.348  0.380  0.468  0.406  0.414  0.402
3  0.408  0.540  0.335  0.371  0.361  0.419  0.322  0.500  0.368  0.356
4  0.220  0.186  0.130  0.120  0.133  0.182  0.366  0.193  0.219  0.286

   hh_39  hh_40  hh_41  hh_42  hh_43  hh_44  hh_45  hh_46  hh_47
0  0.184  0.187  0.254  0.307  0.265  0.243  0.341  0.225  0.219
1  0.129  0.107  0.256  0.141  0.163  0.150  0.169  0.199  0.147
2  0.345  0.409  0.206  0.213  0.257  0.292  0.222  0.240  0.297
3  0.319  0.283  0.263  0.410  0.235  0.226  0.271  0.299  0.285
4  0.291  0.276  0.233  0.223  0.311  0.197  0.190  0.221  0.247

In [ ]:
print(hhblock_data.isnull().sum()) # tarkistetaan puuttuvat arvot

LCLid       0
day         0
hh_0        0
hh_1        0
hh_2        0
hh_3        0
hh_4        0
hh_5        0
hh_6        0
hh_7        0
hh_8        0
hh_9        0
hh_10       0
hh_11       0
hh_12       0
hh_13       0
hh_14       0
hh_15       0
hh_16       0
hh_17       0
hh_18       0
hh_19       2
hh_20       0
hh_21       0
hh_22       0
hh_23       0
hh_24       0
hh_25      21
hh_26       2
hh_27       0
hh_28       0
hh_29       0
hh_30    5460
hh_31       0
hh_32       0
hh_33       0
hh_34       0
hh_35       0
hh_36       1
hh_37       0
hh_38       0
hh_39       0
hh_40       0
hh_41       0
hh_42       0
hh_43       0
hh_44       0
hh_45       0
hh_46       0
hh_47       0
dtype: int64

In [ ]:
hh_columns = [col for col in hhblock_data.columns if col.startswith('hh_')] # valitaan sarakkeet, jotka alkavat hh_ kirjaimella
hhblock_data[hh_columns] = hhblock_data[hh_columns].fillna(hhblock_data[hh_columns].median()) # täytetään puuttuvat arvot mediaanilla koska sarakkeet ovat vinoja
print(hhblock_data.isnull().sum()) # tarkistetaan puuttuvat arvot

LCLid    0
day      0
hh_0     0
hh_1     0
hh_2     0
hh_3     0
hh_4     0
hh_5     0
hh_6     0
hh_7     0
hh_8     0
hh_9     0
hh_10    0
hh_11    0
hh_12    0
hh_13    0
hh_14    0
hh_15    0
hh_16    0
hh_17    0
hh_18    0
hh_19    0
hh_20    0
hh_21    0
hh_22    0
hh_23    0
hh_24    0
hh_25    0
hh_26    0
hh_27    0
hh_28    0
hh_29    0
hh_30    0
hh_31    0
hh_32    0
hh_33    0
hh_34    0
hh_35    0
hh_36    0
hh_37    0
hh_38    0
hh_39    0
hh_40    0
hh_41    0
hh_42    0
hh_43    0
hh_44    0
hh_45    0
hh_46    0
hh_47    0
dtype: int64

In [ ]:
hhblock_data['day'] = pd.to_datetime(hhblock_data['day'], errors='coerce') # muutetaan day sarakkeen arvot päivämäärämuotoon

In [ ]:
hhblock_data = hhblock_data.drop_duplicates() # poistetaan duplikaatit
hhblock_data.shape

(3469352, 50)

In [ ]:
def detect_outliers(column): # funktio, joka etsii outlierit
    q1 = hhblock_data[column].quantile(0.25)
    q3 = hhblock_data[column].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    return lower_bound, upper_bound

outlier_columns = {} # tallennetaan outlierit sanakirjaan
for col in hh_columns:
    lower, upper = detect_outliers(col) # etsitään outlierit
    outlier_columns[col] = (lower, upper)
    print(f"{col}: Outliers below {lower:.2f}, above {upper:.2f}")

hh_0: Outliers below -0.16, above 0.40
hh_1: Outliers below -0.13, above 0.35
hh_2: Outliers below -0.11, above 0.31
hh_3: Outliers below -0.10, above 0.28
hh_4: Outliers below -0.09, above 0.26
hh_5: Outliers below -0.08, above 0.25
hh_6: Outliers below -0.08, above 0.24
hh_7: Outliers below -0.08, above 0.24
hh_8: Outliers below -0.08, above 0.24
hh_9: Outliers below -0.08, above 0.24
hh_10: Outliers below -0.09, above 0.26
hh_11: Outliers below -0.10, above 0.28
hh_12: Outliers below -0.12, above 0.32
hh_13: Outliers below -0.15, above 0.38
hh_14: Outliers below -0.17, above 0.43
hh_15: Outliers below -0.19, above 0.48
hh_16: Outliers below -0.21, above 0.51
hh_17: Outliers below -0.21, above 0.52
hh_18: Outliers below -0.21, above 0.52
hh_19: Outliers below -0.21, above 0.52
hh_20: Outliers below -0.21, above 0.51
hh_21: Outliers below -0.21, above 0.51
hh_22: Outliers below -0.21, above 0.51
hh_23: Outliers below -0.21, above 0.51
hh_24: Outliers below -0.22, above 0.51
hh_25: Outliers below -0.22, above 0.52
hh_26: Outliers below -0.21, above 0.51
hh_27: Outliers below -0.21, above 0.50
hh_28: Outliers below -0.20, above 0.50
hh_29: Outliers below -0.20, above 0.49
hh_30: Outliers below -0.20, above 0.50
hh_31: Outliers below -0.21, above 0.53
hh_32: Outliers below -0.23, above 0.56
hh_33: Outliers below -0.26, above 0.62
hh_34: Outliers below -0.28, above 0.68
hh_35: Outliers below -0.31, above 0.75
hh_36: Outliers below -0.33, above 0.79
hh_37: Outliers below -0.34, above 0.82
hh_38: Outliers below -0.33, above 0.82
hh_39: Outliers below -0.32, above 0.82
hh_40: Outliers below -0.30, above 0.79
hh_41: Outliers below -0.29, above 0.77
hh_42: Outliers below -0.27, above 0.75
hh_43: Outliers below -0.27, above 0.72
hh_44: Outliers below -0.25, above 0.67
hh_45: Outliers below -0.24, above 0.62
hh_46: Outliers below -0.22, above 0.54
hh_47: Outliers below -0.19, above 0.47

In [ ]:
for col, (lower, upper) in outlier_columns.items(): # poistetaan outlierit
    hhblock_data = hhblock_data[(hhblock_data[col] >= lower) & (hhblock_data[col] <= upper)]
hhblock_data.shape

(1371160, 50)

In [ ]:
hhblock_data['daily_sum'] = hhblock_data[hh_columns].sum(axis=1) # lasketaan päivittäinen summamäärä
hhblock_data['daily_mean'] = hhblock_data[hh_columns].mean(axis=1) # lasketaan päivittäinen keskiarvo
hhblock_data['daily_max'] = hhblock_data[hh_columns].max(axis=1) # lasketaan päivittäinen maksimi
hhblock_data['daily_min'] = hhblock_data[hh_columns].min(axis=1) # lasketaan päivittäinen minimi
hhblock_data['daily_std'] = hhblock_data[hh_columns].std(axis=1) # lasketaan päivittäinen keskihajonta

In [ ]:
hhblock_data.to_csv('data/processed/cleaned_hhblock_data.csv', index=False) # tallennetaan puhdistettu datasetti

## Tulo- ja ACORN-ryhmien Käyttö Tärkeimmissä Kategorioissa

| **Kategoria**         | **Eniten Käyttävä Tulo** | **Vähiten Käyttävä Tulo** | **Eniten Käyttävä ACORN** | **Vähiten Käyttävä ACORN** |
|------------------------|--------------------------|---------------------------|---------------------------|----------------------------|
| **Rahoitus**          | Korkea tulotaso          | Matala tulotaso           | ACORN-B                   | ACORN-U                    |
| **Digitaalisuus**      | Korkea tulotaso          | Matala tulotaso           | ACORN-C                   | ACORN-U                    |
| **Perhe**             | Keskitulotaso            | Matala tulotaso           | ACORN-A                   | ACORN-U                    |
| **Koulutus**          | Korkea tulotaso          | Matala tulotaso           | ACORN-A                   | ACORN-Q                    |
| **Terveys**           | Matala tulotaso          | Korkea tulotaso           | ACORN-E                   | ACORN-L                    |
| **Liikenne**          | Matala tulotaso          | Korkea tulotaso           | ACORN-O                   | ACORN-K                    |
| **Ympäristö**         | Keskitulotaso            | Matala tulotaso           | ACORN-H                   | ACORN-Q                    |
| **Yhteisön turvallisuus** | Keskitulotaso        | Korkea tulotaso           | ACORN-J                   | ACORN-U                    |
| **Ostoskanavat**      | Korkea tulotaso          | Matala tulotaso           | ACORN-F                   | ACORN-U                    |
| **Vapaa-aika**        | Korkea tulotaso          | Matala tulotaso           | ACORN-C                   | ACORN-U                    |

## Yhteenveto
- **Korkeat tulot**: Hyödyntävät eniten **Rahoitusta**, **Digitaalisuutta** ja **Koulutusta**.
- **Keskitulot**: Tasapainoinen käyttö; erityisesti **Perhe** ja **Ympäristö** korostuvat.
- **Matala tulotaso**: Käyttö keskittyy **Terveys**, **Liikenne** ja **Yhteisön turvallisuus** -kategorioihin.